@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
    --primary: #9C163A;
    --primary-hover: #75112C;
    --white: #ffffff;
}

html, body {
    margin: 0;
    padding: 0;
}
html *, body * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

img, video, iframe {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.swiper {
    overflow: hidden;
}

.hide {
    display: none !important;
}

* {
    font-family: "Montserrat", sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    scroll-behavior: smooth;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.block-padding {
    padding: 0 40px;
}
@media all and (max-width: 767px) {
    .block-padding {
        padding: 0 20px;
    }
}

.block-width {
    max-width: 1660px;
    margin: 0 auto;
    width: 100%;
}
@media all and (max-width: 1600px) {
    .block-width {
        max-width: 1240px;
    }
}

.button {
    padding: 22px 20px 24px;
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: left;
    border-radius: 250px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.button-primary {
    background: var(--primary);
}
.button-primary:hover {
    background: var(--primary-hover);
}

.site-header__inner {
    padding: 60px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
}
.site-header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    background: url("template");
}
.site-header__burger-btn span {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    cursor: pointer;
    background: url("data:image/svg+xml,%3Csvg width='21' height='14' viewBox='0 0 21 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='21' height='2' fill='white'/%3E%3Crect y='12' width='21' height='2' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
    background-color: rgba(var(--white), 0.15);
}