</div>
<footer class="site-footer block-padding">
    <div class="site-footer__inner">
        <div class="site-footer__logo">
            <a href="/">
                <img src="include/images/footer_logo.svg" alt="footer_logo">
            </a>
        </div>
        <div class="site-footer__menu">
            <nav>
                <ul>
                    <li>
                        <a href="#">Номера</a>
                        <ul>
                            <li><a href="#">Для двоих</a></li>
                            <li><a href="#">Люкс</a></li>
                            <li><a href="#">Одноместный</a></li>
                            <li><a href="#">С террасой</a></li>
                            <li><a href="#">Страницы номеров</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Услуги</a>
                        <ul>
                            <li><a href="#">Фитнес-центр</a></li>
                            <li><a href="#">СПА</a></li>
                            <li><a href="#">Бассейн</a></li>
                            <li><a href="#">Трансфер</a></li>
                            <li><a href="#">Паркинг</a></li>
                            <li><a href="#">Корпоративным клиентам</a></li>
                            <li><a href="#">Ателье</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Ресторан и бар</a>
                        <ul>
                            <li><a href="#">Кафе-бар «Увертюра»</a></li>
                            <li><a href="#">Ресторан 10Тен</a></li>
                            <li><a href="#">Capsula</a></li>
                            <li><a href="#">Кейтеринг</a></li>
                            <li><a href="#">Room Service</a></li>
                            <li><a href="#">Vip Terrace</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Конгресс-холл</a>
                        <ul>
                            <li><a href="#">Чайковский</a></li>
                            <li><a href="#">Рахманинов</a></li>
                            <li><a href="#">Шостакович</a></li>
                            <li><a href="#">Стравинский</a></li>
                            <li><a href="#">Глинка</a></li>
                            <li><a href="#">Фойе</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Мероприятия</a>
                        <ul>
                            <li><a href="#">Свадьба</a></li>
                            <li><a href="#">Девичник</a></li>
                            <li><a href="#">Корпоратив</a></li>
                            <li><a href="#">Организация мероприятий</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Предложения</a>
                        <ul>
                            <li><a href="#">Выходные в отеле</a></li>
                            <li><a href="#">Семейные выходные</a></li>
                            <li><a href="#">Отель + театр</a></li>
                            <li><a href="#">Свадебные выходные</a></li>
                            <li><a href="#">Романтические выходные для двоих</a></li>
                            <li><a href="#">СПА для двоих</a></li>
                            <li><a href="#">Свидание в Capsula</a></li>
                            <li><a href="#">Страницы предложений</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Отель</a>
                        <ul>
                            <li><a href="#">Галерея</a></li>
                            <li><a href="#">Расположение</a></li>
                            <li><a href="#">Карьера</a></li>
                            <li><a href="#">Правила проживания</a></li>
                            <li><a href="#">Пресс-центр</a></li>
                            <li><a href="#">Сертификаты и лицензии</a></li>
                            <li><a href="#">Контроль качества сервиса</a></li>
                            <li><a href="#">Программа лояльности</a></li>
                            <li><a href="#">Куда сходить в Новосибирске</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Афиша</a>
                    </li>
                    <li>
                        <a href="#">Контакты</a>
                    </li>
                    <li class="last-item">
                        <div class="site-footer__contacts">
                            <div class="site-footer__phones">
                                <div class="site-footer__phones-title">Телефон</div>
                                <div class="site-footer__phones-body">
                                    <div class="site-footer__phones-item">
                                        <a href="tel:+73832300300">+7 (383) 230-03-00</a>
                                    </div>
                                </div>
                            </div>
                            <div class="site-footer__mails">
                                <div class="site-footer__mails-title">Эл.почта</div>
                                <div class="site-footer__mails-body">
                                    <div class="site-footer__mails-item">
                                        <a href="mailto:pochta@mail.ru">pochta@mail.ru</a>
                                    </div>
                                </div>
                            </div>
                            <div class="site-footer__address">
                                <div class="site-footer__address-title">Адрес:</div>
                                <div class="site-footer__address-body">Новосибирск, ул. Орджоникидзе, д. 31</div>
                            </div>
                        </div>
                        <div class="site-footer__socials">
                            <div class="site-footer__socials-list">
                                <div class="site-footer__socials-item">
                                    <a href="#">
                                        <img src="include/images/tg_icon.svg" alt="tg_icon">
                                    </a>
                                </div>
                                <div class="site-footer__socials-item">
                                    <a href="#">
                                        <img src="include/images/vk_icon.svg" alt="vk_icon">
                                    </a>
                                </div>
                                <div class="site-footer__socials-item">
                                    <a href="#">
                                        <img src="include/images/ok_icon.svg" alt="ok_icon">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="site-footer__presentation">
                            <a href="#">
                                <div class="icon"></div>
                                <span>Скачать презентацию</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
<div class="burger-block">
    <div class="burger-block__inner block-padding">
        <div class="burger-block__top">
            <div class="burger-block__menu">
                <nav>
                    <ul>
                        <li><a href="#">Отель</a></li>
                        <li><a href="#">Номера</a></li>
                        <li><a href="#">Конгресс-холл</a></li>
                        <li><a href="#">Ресторан и бар</a></li>
                        <li><a href="#">Услуги</a></li>
                        <li><a href="#">Предложения</a></li>
                        <li><a href="#">Афиша</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </nav>
            </div>
            <div class="burger-block__image">
                <img src="include/images/burger_image.png" alt="burger_image">
            </div>
        </div>
        <div class="burger-block__bottom">
            <div class="burger-block__contacts">
                <div class="burger-block__phones">
                    <div class="burger-block__phones-title">Телефон</div>
                    <div class="burger-block__phones-body">
                        <div class="burger-block__phones-item">
                            <a href="tel:+73832300300">+7 (383) 230-03-00</a>
                        </div>
                    </div>
                </div>
                <div class="burger-block__mails">
                    <div class="burger-block__mails-title">Эл.почта</div>
                    <div class="burger-block__mails-body">
                        <div class="burger-block__mails-item">
                            <a href="mailto:pochta@mail.ru">pochta@mail.ru</a>
                        </div>
                    </div>
                </div>
                <div class="burger-block__address">
                    <div class="burger-block__address-title">Адрес:</div>
                    <div class="burger-block__address-body">Новосибирск, ул. Орджоникидзе, д. 31</div>
                </div>
            </div>
            <div class="burger-block__presentation">
                <a href="#">
                    <div class="icon"></div>
                    <span>Скачать презентацию</span>
                </a>
            </div>
            <div class="burger-block__socials">
                <div class="burger-block__socials-list">
                    <div class="burger-block__socials-item">
                        <a href="#">
                            <img src="include/images/tg_icon.svg" alt="tg_icon">
                        </a>
                    </div>
                    <div class="burger-block__socials-item">
                        <a href="#">
                            <img src="include/images/vk_icon.svg" alt="vk_icon">
                        </a>
                    </div>
                    <div class="burger-block__socials-item">
                        <a href="#">
                            <img src="include/images/ok_icon.svg" alt="ok_icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/js/swiper.min.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-fullscreen.js/master/dist/lg-fullscreen.js"></script>
<script src="template/lib/script.js"></script>
</body>
</html>