include _inner_header.jade
<div class="path_block_wr">
    <div class="block-padding">
        <a href="">Главная</a><span>/</span>Афиша
    </div>
</div>
<div class="page_title">
    <div class="block-padding">
        <h1>Афиша</h1>
    </div>
</div>

<div class="content_main_block">
    <div class="block-padding afisha_page">
        <div class="body_left">
            <div class="title_page">Событие месяца</div>
            <div class="image">
                <img src="include/images/afisha.jpg" alt="">
            </div>
            <div class="blockquote animation_block">
                <div class="text">Помогаем жителям и гостям Новосибирска создавать свою успешную историю....</div>
            </div>
            <div class="text_body">Равным образом укрепление и развитие структуры представляет собой интересный эксперимент проверки модели развития. Таким образом рамки и место обучения кадров играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что укрепление и развитие структуры представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач.</div>
        </div>
        <div class="calendar_right">
            <div class="calendar_top_title">
                <div class="name_calendar">Календарь событий</div>
                <div class="announces-block__nav">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="calendar_main">
                <div class="container-calendar swiper">
                    <main class="wrapper swiper-wrapper"></main>
                </div>
            </div>  
        </div>
    </div>
    <section class="afisha_center_page announces-block block-padding" data-scroll-section>
        <div class="announces-block__inner block-width">
            <div class="announces-block__header">
                <div class="title">Другие события</div>
                <div class="announces-block__nav">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="press_center_announces-block__slider">
                <div class="swiper afisha_slider_bottom">
                    <div class="swiper-wrapper">
                        <div class="announces-block__slider-item swiper-slide">
                            <div class="item-header">
                                <div class="item-btn">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white" />
                                            <path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white" /></svg>
                                    </a>
                                </div>
                                
                            </div>
                            <div class="item-title">Винный ужин</div>
                            <div class="item-date">12-25 июля</div>
                            <div class="item-body">
                                <img src="include/images/announce_sl1.png" alt="announce_sl2">
                            </div>
                        </div>
                        <div class="announces-block__slider-item swiper-slide with_line">
                            <div class="item-header">
                                <div class="item-btn">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white" />
                                            <path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white" /></svg>
                                    </a>
                                </div>
                            </div>
                            <div class="item-title">Мероприятие в честь дня рождения отеля</div>
                            <div class="item-date">11-14 июля</div>
                            <div class="item-body">
                                <img src="include/images/announce_sl2.png" alt="announce_sl2">
                            </div>
                        </div>
                        <div class="announces-block__slider-item swiper-slide">
                            <div class="item-header">
                                <div class="item-btn">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white" />
                                            <path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white" /></svg>
                                    </a>
                                </div>
                            </div>
                            <div class="item-title">Винный ужин</div>
                            <div class="item-date">12-25 июля</div>
                            <div class="item-body">
                                <img src="include/images/announce_sl1.png" alt="announce_sl2">
                            </div>
                        </div>
                        <div class="announces-block__slider-item swiper-slide">
                            <div class="item-header">
                                <div class="item-btn">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white" />
                                            <path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white" /></svg>
                                    </a>
                                </div>
                            </div>
                            <div class="item-title">Винный ужин</div>
                            <div class="item-date">12-25 июля</div>
                            <div class="item-body">
                                <img src="include/images/announce_sl1.png" alt="announce_sl2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
include _footer.jade