include _inner_header.jade
<div class="path_block_wr">
    <div class="block-padding">
        <a href="">Главная</a><span>/</span>Контакты
    </div>
</div>
<div class="page_title">
    <div class="block-padding">
        <h1>Контакты</h1>
    </div>
</div>
<div class="content_main_block">
    <div class="block-padding contacts_page">
        <div class="contacts_block_left">
            <div class="left_top">
                <div class="title">Новосибирск</div>
                <div class="address">
                    <div class="name">Адрес:</div>
                    <div class="body_inner">Новосибирск, улица Орджоникидзе, 31</div>
                </div>
                <div class="route">
                    <div class="name">Построить маршрут</div>
                    <div class="links">
                        <a href="">
                            <img src="include/images/route_1.svg" alt="">
                        </a>
                        <a href="">
                            <img src="include/images/route_2.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="phone">
                    <div class="name">Телефон</div>
                    <div class="body_inner"><a href="tel:+7 (383) 230-03-00">+7 (383) 230-03-00</a></div>
                </div>
                <div class="email">
                    <div class="name">Эл.почта</div>
                    <div class="body_inner"><a href="mailto:res@ga-nsk.ru">res@ga-nsk.ru</a></div>
                </div>
                <div class="social">
                    <div class="name">Социальные сети</div>
                    <div class="body_inner">
                        <a href="">
                            <img src="include/images/tg.svg" alt="">
                        </a>
                        <a href="">
                            <img src="include/images/vk.svg" alt="">
                        </a>
                        <a href="">
                            <img src="include/images/wa.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="download">
                    <a href="">Скачать презентацию</a>
                </div>
            </div>
            <div class="bottom">
                <a href="" class="button button-primary btn_video">Смотреть видео</a>
                <a href="" class="button button-primary">Забронировать номер</a>
            </div>
        </div>    
        <div class="contacts_block_right">
            <div class="image">
                <img src="include/images/contact_map.png" alt="">
            </div>
        </div>          
    </div>
</div>
include _footer.jade