include _header.jade

<section class="main-first" data-scroll-section>
    <div class="main-first__inner">
        <div class="main-first__center-block block-padding">
            <div class="main-first__center-inner">
                <div class="main-first__text">Grand Autograph - единственный пятизвездочный отель в&nbsp;Новосибирске. Мы предлагаем незабываемый отдых с&nbsp;круглосуточным обслуживанием в номерах и первоклассный сервис от гостиничного оператора с мировым именем</div>
                <div class="main-first__mobile-wr"></div>
                <div class="main-first__right-title">остановиться здесь</div>
                <div class="main-first__image">
                    <img src="include/images/main-f-bl.png" alt="main-f-bl">
                </div>
                <div class="main-first__title">
                    <svg class="first-letter" width="192" height="247" viewBox="0 0 192 247" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 244.326C8.92784 232.384 13.3918 215.758 13.3918 194.449V51.844C13.3918 30.5351 8.92784 13.9095 0 1.96716V0.210938H182.199L191.714 72.9187H188.19C179.262 52.0781 167.867 36.3892 154.005 25.8518C140.379 15.3145 120.878 10.0458 95.5044 10.0458H75.0644V117.878H97.6189C112.185 117.878 123.698 114.483 132.156 107.692C140.848 100.667 147.192 90.4809 151.186 77.1336H154.71V168.457H151.186C147.192 155.11 140.848 145.041 132.156 138.25C123.698 131.225 112.185 127.713 97.6189 127.713H75.0644V194.449C75.0644 215.758 79.5283 232.384 88.4561 244.326V246.083H0V244.326Z" fill="white"/>
                    </svg>
                    <svg class="v-letter" width="210" height="166" viewBox="0 0 210 166" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M28.5138 42.496C19.2661 23.6827 9.76147 10.0707 0 1.65999V0H98.2569V1.65999C93.1193 7.19333 90.5505 13.944 90.5505 21.912C90.5505 28.1093 92.4771 35.192 96.3303 43.16L132.936 117.86L166.459 45.816C169.798 38.9547 171.468 32.0933 171.468 25.232C171.468 15.936 168.257 8.07866 161.835 1.65999V0H210V1.65999C197.67 11.62 187.651 24.6787 179.945 40.836L120.605 166H90.1651L28.5138 42.496Z" fill="white"/>
                    </svg>
                    <svg class="last-word" width="935" height="268" viewBox="0 0 935 268" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M894.485 66.7148C892.831 65.4801 892.004 64.1768 892.004 62.8048C892.004 61.7073 892.418 60.6784 893.245 59.718C894.898 57.6601 899.928 53.1328 908.334 46.136C898.137 46.136 891.384 45.5187 888.077 44.2839C885.734 43.4608 884.563 42.0202 884.563 39.9624C884.563 39.688 884.701 39.002 884.976 37.9045C885.803 35.2978 887.25 33.9945 889.317 33.9945C889.868 33.9945 890.557 34.1317 891.384 34.4061C893.865 35.5036 899.722 38.8648 908.955 44.4897C906.061 33.9259 904.614 27.4093 904.614 24.9398C904.614 21.6472 906.336 20.0009 909.781 20.0009C913.227 20.0009 914.949 21.6472 914.949 24.9398C914.949 27.4093 913.502 33.9259 910.608 44.4897C919.841 38.8648 925.698 35.5036 928.179 34.4061C929.005 34.1317 929.694 33.9945 930.246 33.9945C932.313 33.9945 933.76 35.2978 934.587 37.9045C934.862 39.002 935 39.688 935 39.9624C935 42.0202 933.829 43.4608 931.486 44.2839C928.179 45.5187 921.426 46.136 911.228 46.136C919.635 53.1328 924.665 57.6601 926.318 59.718C927.145 60.6784 927.558 61.7073 927.558 62.8048C927.558 64.1768 926.732 65.4801 925.078 66.7148C924.113 67.538 923.08 67.9495 921.977 67.9495C920.461 67.9495 919.152 67.195 918.05 65.6859C916.396 63.628 913.64 57.3858 909.781 46.9592C905.923 57.3858 903.167 63.628 901.513 65.6859C900.411 67.195 899.101 67.9495 897.585 67.9495C896.483 67.9495 895.45 67.538 894.485 66.7148Z" fill="white"/>
                        <path d="M93.9243 268C76.9144 268 60.151 266.159 43.6341 262.478C27.1172 258.551 13.8051 254.256 3.69775 249.593V170.077H7.39558C16.7634 196.337 29.9522 217.443 46.9621 233.396C64.2186 249.348 83.4472 257.324 104.648 257.324C119.439 257.324 130.902 253.397 139.038 245.544C147.419 237.691 151.61 227.751 151.61 215.725C151.61 206.399 148.775 198.546 143.105 192.165C137.682 185.784 130.533 180.63 121.658 176.703C113.03 172.777 101.69 168.604 87.638 164.187C67.9163 158.051 52.0158 152.038 39.9363 146.148C28.1033 140.258 18.489 132.159 11.0934 121.852C3.69778 111.299 0 97.555 0 80.6209C0 65.6502 4.06756 52.0293 12.2027 39.7583C20.3379 27.4872 31.8011 17.793 46.5923 10.6758C61.6301 3.55861 78.8865 0 98.3616 0C113.399 0 128.314 1.59524 143.105 4.78572C157.896 7.9762 169.606 11.4121 178.234 15.0934V89.0879H174.537C152.596 36.8132 124.123 10.6758 89.1172 10.6758C76.0516 10.6758 65.328 14.2344 56.9463 21.3517C48.8111 28.2235 44.7435 37.304 44.7435 48.5934C44.7435 57.4286 47.4552 64.9139 52.8786 71.0495C58.3021 76.9396 65.6977 82.0934 75.0654 86.511C84.6797 90.6832 97.4989 95.2235 113.523 100.132C131.272 105.531 145.817 111.176 157.157 117.066C168.497 122.711 177.988 131.055 185.63 142.099C193.272 153.143 197.093 167.5 197.093 185.17C197.093 201.123 193.026 215.357 184.89 227.874C177.002 240.39 165.292 250.207 149.761 257.324C134.23 264.441 115.618 268 93.9243 268Z" fill="white"/>
                        <path d="M300.262 268C282.512 268 267.845 262.478 256.258 251.434C244.672 240.145 238.878 225.419 238.878 207.258V115.962C238.878 109.09 237.276 103.445 234.071 99.0275C231.113 94.3645 227.169 91.0513 222.238 89.0879V87.2473C235.797 82.8297 248.986 76.2033 261.805 67.3681C274.87 58.533 286.58 48.348 296.934 36.8132H298.783V78.7802H352.401L347.594 92.7693H298.783V207.258C298.783 218.793 301.864 227.628 308.027 233.764C314.19 239.899 321.709 242.967 330.584 242.967C335.761 242.967 340.322 242.108 344.266 240.39C348.21 238.427 350.922 236.218 352.401 233.764L356.099 235.604C352.401 245.176 345.375 253.029 335.021 259.165C324.914 265.055 313.328 268 300.262 268Z" fill="white"/>
                        <path d="M551.274 247.016C547.823 253.397 542.276 258.551 534.634 262.478C527.238 266.159 518.61 268 508.749 268C497.656 268 488.658 265.546 481.755 260.637C475.099 255.729 470.538 248.98 468.073 240.39H466.594C456.487 258.797 439.353 268 415.194 268C399.91 268 387.954 264.441 379.326 257.324C370.944 250.207 366.753 240.267 366.753 227.506C366.753 213.762 371.56 202.227 381.175 192.901C391.035 183.575 403.608 176.581 418.892 171.918C434.423 167.255 450.817 164.923 468.073 164.923V146.516C468.073 132.527 463.882 121.361 455.501 113.016C447.365 104.672 435.902 100.5 421.111 100.5C410.757 100.5 401.513 102.832 393.377 107.495C385.242 112.158 378.833 118.784 374.149 127.374H370.451C374.888 110.685 384.256 97.555 398.554 87.9835C412.852 78.4121 429.739 73.6264 449.214 73.6264C473.866 73.6264 493.095 80.3755 506.9 93.8736C520.952 107.126 527.978 124.674 527.978 146.516V232.659C527.978 243.212 531.922 248.489 539.811 248.489C542.029 248.489 544.002 248.121 545.727 247.385C547.453 246.648 548.685 245.912 549.425 245.176L551.274 247.016ZM447.735 240.022C453.405 240.022 458.212 238.304 462.157 234.868C466.101 231.432 468.073 227.137 468.073 221.984V173.758C455.994 174.495 446.379 178.299 439.23 185.17C432.081 192.042 428.507 201.491 428.507 213.516C428.507 222.843 430.232 229.592 433.684 233.764C437.381 237.936 442.065 240.022 447.735 240.022Z" fill="white"/>
                        <path d="M573.828 261.006C577.279 255.852 579.867 249.348 581.593 241.495C583.565 233.396 584.551 224.56 584.551 214.989V142.835C584.551 131.546 583.319 122.588 580.853 115.962C578.635 109.09 575.183 103.2 570.5 98.2912V96.4506L642.607 73.6264H644.456V128.478H646.305C650.249 111.053 657.398 97.555 667.752 87.9835C678.106 78.4121 692.774 73.6264 711.756 73.6264V126.637H688.09C672.313 126.637 661.096 129.828 654.44 136.209C647.784 142.344 644.456 153.266 644.456 168.973V214.989C644.456 224.56 645.318 233.396 647.044 241.495C649.016 249.348 651.728 255.852 655.179 261.006V262.846H573.828V261.006Z" fill="white"/>
                        <path d="M800.362 268C789.022 268 777.435 266.896 765.602 264.687C753.769 262.478 742.799 259.165 732.692 254.747V197.687H736.39C741.32 210.203 747.73 221.125 755.618 230.451C763.753 239.777 772.382 246.894 781.503 251.802C790.624 256.465 799.376 258.797 807.757 258.797C817.372 258.797 824.89 256.22 830.314 251.066C835.984 245.667 838.819 238.549 838.819 229.714C838.819 221.37 835.614 214.866 829.205 210.203C822.795 205.295 812.071 201.123 797.034 197.687C775.833 193.024 759.316 185.784 747.483 175.967C735.65 166.15 729.734 152.529 729.734 135.104C729.734 122.833 732.938 112.035 739.348 102.709C745.757 93.3828 754.632 86.2656 765.972 81.3572C777.559 76.2033 790.624 73.6264 805.169 73.6264C823.658 73.6264 844.119 78.044 866.552 86.8791V141.363H862.855C856.198 124.429 846.584 110.44 834.012 99.3956C821.439 88.3517 808.99 82.8297 796.664 82.8297C788.529 82.8297 781.996 85.1612 777.065 89.8242C772.135 94.4872 769.67 100.623 769.67 108.231C769.67 116.575 772.875 123.079 779.284 127.742C785.94 132.405 796.787 136.7 811.825 140.626C834.012 146.516 850.898 154.493 862.485 164.555C874.071 174.372 879.865 188.238 879.865 206.154C879.865 227.26 872.099 242.844 856.568 252.907C841.284 262.969 822.548 268 800.362 268Z" fill="white"/>
                    </svg>
                    <svg class="main_svg"width="1660" height="268" viewBox="0 0 1660 268" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="first-letter_in" style="opacity:0;" d="M0 261.326C8.92784 249.384 13.3918 232.758 13.3918 211.449V68.844C13.3918 47.5351 8.92784 30.9095 0 18.9672V17.2109H182.199L191.714 89.9187H188.19C179.262 69.0781 167.867 53.3892 154.005 42.8518C140.379 32.3145 120.878 27.0458 95.5044 27.0458H75.0644V134.878H97.6189C112.185 134.878 123.698 131.483 132.156 124.692C140.848 117.667 147.192 107.481 151.186 94.1336H154.71V185.457H151.186C147.192 172.11 140.848 162.041 132.156 155.25C123.698 148.225 112.185 144.713 97.6189 144.713H75.0644V211.449C75.0644 232.758 79.5283 249.384 88.4561 261.326V263.083H0V261.326Z" fill="white"/>
                        <path class="second-letter_in" d="M215.736 261.326C219.025 256.409 221.492 250.204 223.136 242.71C225.016 234.983 225.956 226.553 225.956 217.421V148.577C225.956 137.805 224.781 129.258 222.432 122.936C220.317 116.379 217.028 110.759 212.564 106.076V104.32L281.285 82.5426H283.047V217.421C283.047 226.553 283.869 234.983 285.514 242.71C287.393 250.204 289.978 256.409 293.267 261.326V263.083H215.736V261.326ZM254.501 63.9266C245.574 63.9266 237.938 60.8825 231.594 54.7942C225.486 48.4718 222.432 40.8615 222.432 31.9633C222.432 23.0651 225.486 15.5719 231.594 9.4836C237.938 3.1612 245.574 0 254.501 0C263.429 0 270.947 3.1612 277.056 9.4836C283.399 15.5719 286.571 23.0651 286.571 31.9633C286.571 40.8615 283.399 48.4718 277.056 54.7942C270.947 60.8825 263.429 63.9266 254.501 63.9266Z" fill="white"/>
                        <path d="M672 201.615C667.771 221.987 658.373 238.144 643.807 250.086C629.475 262.029 612.09 268 591.65 268C575.673 268 561.224 264.488 548.302 257.463C535.381 250.438 525.161 240.252 517.642 226.904C510.124 213.557 506.365 197.517 506.365 178.784C506.365 160.051 510.359 143.425 518.347 128.907C526.335 114.155 537.143 102.798 550.769 94.8362C564.631 86.6405 579.785 82.5426 596.231 82.5426C611.267 82.5426 624.307 85.7038 635.349 92.0262C646.626 98.1145 655.202 106.31 661.075 116.613C666.949 126.917 669.886 138.156 669.886 150.333H551.827C553.236 166.49 557.113 180.423 563.456 192.131C570.035 203.605 578.375 212.386 588.478 218.474C598.58 224.329 609.623 227.256 621.605 227.256C631.942 227.256 641.222 225.031 649.445 220.582C657.669 215.899 664.012 209.576 668.476 201.615H672ZM581.429 92.3775C571.797 92.3775 564.396 96.4753 559.227 104.671C554.059 112.633 551.474 123.99 551.474 138.742V141.903H614.909C613.734 126.917 610.21 114.974 604.336 106.076C598.698 96.9436 591.062 92.3775 581.429 92.3775Z" fill="white"/>
                        <g class="main_svg_last_word">
                            <path class="letter-star last-word-letter" d="M1619.48 66.7148C1617.83 65.4801 1617 64.1768 1617 62.8048C1617 61.7073 1617.42 60.6784 1618.24 59.718C1619.9 57.6601 1624.93 53.1328 1633.33 46.136C1623.14 46.136 1616.38 45.5187 1613.08 44.2839C1610.73 43.4608 1609.56 42.0202 1609.56 39.9624C1609.56 39.688 1609.7 39.002 1609.98 37.9045C1610.8 35.2978 1612.25 33.9945 1614.32 33.9945C1614.87 33.9945 1615.56 34.1317 1616.38 34.4061C1618.86 35.5036 1624.72 38.8648 1633.95 44.4897C1631.06 33.9259 1629.61 27.4093 1629.61 24.9398C1629.61 21.6472 1631.34 20.0009 1634.78 20.0009C1638.23 20.0009 1639.95 21.6472 1639.95 24.9398C1639.95 27.4093 1638.5 33.9259 1635.61 44.4897C1644.84 38.8648 1650.7 35.5036 1653.18 34.4061C1654.01 34.1317 1654.69 33.9945 1655.25 33.9945C1657.31 33.9945 1658.76 35.2978 1659.59 37.9045C1659.86 39.002 1660 39.688 1660 39.9624C1660 42.0202 1658.83 43.4608 1656.49 44.2839C1653.18 45.5187 1646.43 46.136 1636.23 46.136C1644.63 53.1328 1649.66 57.6601 1651.32 59.718C1652.15 60.6784 1652.56 61.7073 1652.56 62.8048C1652.56 64.1768 1651.73 65.4801 1650.08 66.7148C1649.11 67.538 1648.08 67.9495 1646.98 67.9495C1645.46 67.9495 1644.15 67.195 1643.05 65.6859C1641.4 63.628 1638.64 57.3858 1634.78 46.9592C1630.92 57.3858 1628.17 63.628 1626.51 65.6859C1625.41 67.195 1624.1 67.9495 1622.59 67.9495C1621.48 67.9495 1620.45 67.538 1619.48 66.7148Z" fill="white"/>
                            <path class="letter-s  last-word-letter" d="M818.924 268C801.914 268 785.151 266.159 768.634 262.478C752.117 258.551 738.805 254.256 728.698 249.593V170.077H732.396C741.763 196.337 754.952 217.443 771.962 233.396C789.219 249.348 808.447 257.324 829.648 257.324C844.439 257.324 855.902 253.397 864.038 245.544C872.419 237.691 876.61 227.751 876.61 215.725C876.61 206.399 873.775 198.546 868.105 192.165C862.682 185.784 855.533 180.63 846.658 176.703C838.03 172.777 826.69 168.604 812.638 164.187C792.916 158.051 777.016 152.038 764.936 146.148C753.103 140.258 743.489 132.159 736.093 121.852C728.698 111.299 725 97.555 725 80.6209C725 65.6502 729.068 52.0293 737.203 39.7583C745.338 27.4872 756.801 17.793 771.592 10.6758C786.63 3.55861 803.887 0 823.362 0C838.399 0 853.314 1.59524 868.105 4.78572C882.896 7.9762 894.606 11.4121 903.234 15.0934V89.0879H899.537C877.596 36.8132 849.123 10.6758 814.117 10.6758C801.052 10.6758 790.328 14.2344 781.946 21.3517C773.811 28.2235 769.743 37.304 769.743 48.5934C769.743 57.4286 772.455 64.9139 777.879 71.0495C783.302 76.9396 790.698 82.0934 800.065 86.511C809.68 90.6832 822.499 95.2235 838.523 100.132C856.272 105.531 870.817 111.176 882.157 117.066C893.497 122.711 902.988 131.055 910.63 142.099C918.272 153.143 922.093 167.5 922.093 185.17C922.093 201.123 918.026 215.357 909.89 227.874C902.002 240.39 890.292 250.207 874.761 257.324C859.23 264.441 840.618 268 818.924 268Z" fill="white"/>
                            <path class="letter-t  last-word-letter" d="M1025.26 268C1007.51 268 992.845 262.478 981.258 251.434C969.672 240.145 963.878 225.419 963.878 207.258V115.962C963.878 109.09 962.276 103.445 959.071 99.0275C956.113 94.3645 952.169 91.0513 947.238 89.0879V87.2473C960.797 82.8297 973.986 76.2033 986.805 67.3681C999.87 58.533 1011.58 48.348 1021.93 36.8132H1023.78V78.7802H1077.4L1072.59 92.7693H1023.78V207.258C1023.78 218.793 1026.86 227.628 1033.03 233.764C1039.19 239.899 1046.71 242.967 1055.58 242.967C1060.76 242.967 1065.32 242.108 1069.27 240.39C1073.21 238.427 1075.92 236.218 1077.4 233.764L1081.1 235.604C1077.4 245.176 1070.38 253.029 1060.02 259.165C1049.91 265.055 1038.33 268 1025.26 268Z" fill="white"/>
                            <path class="letter-a  last-word-letter" d="M1276.27 247.016C1272.82 253.397 1267.28 258.551 1259.63 262.478C1252.24 266.159 1243.61 268 1233.75 268C1222.66 268 1213.66 265.546 1206.76 260.637C1200.1 255.729 1195.54 248.98 1193.07 240.39H1191.59C1181.49 258.797 1164.35 268 1140.19 268C1124.91 268 1112.95 264.441 1104.33 257.324C1095.94 250.207 1091.75 240.267 1091.75 227.506C1091.75 213.762 1096.56 202.227 1106.17 192.901C1116.04 183.575 1128.61 176.581 1143.89 171.918C1159.42 167.255 1175.82 164.923 1193.07 164.923V146.516C1193.07 132.527 1188.88 121.361 1180.5 113.016C1172.37 104.672 1160.9 100.5 1146.11 100.5C1135.76 100.5 1126.51 102.832 1118.38 107.495C1110.24 112.158 1103.83 118.784 1099.15 127.374H1095.45C1099.89 110.685 1109.26 97.555 1123.55 87.9835C1137.85 78.4121 1154.74 73.6264 1174.21 73.6264C1198.87 73.6264 1218.1 80.3755 1231.9 93.8736C1245.95 107.126 1252.98 124.674 1252.98 146.516V232.659C1252.98 243.212 1256.92 248.489 1264.81 248.489C1267.03 248.489 1269 248.121 1270.73 247.385C1272.45 246.648 1273.69 245.912 1274.42 245.176L1276.27 247.016ZM1172.74 240.022C1178.41 240.022 1183.21 238.304 1187.16 234.868C1191.1 231.432 1193.07 227.137 1193.07 221.984V173.758C1180.99 174.495 1171.38 178.299 1164.23 185.17C1157.08 192.042 1153.51 201.491 1153.51 213.516C1153.51 222.843 1155.23 229.592 1158.68 233.764C1162.38 237.936 1167.07 240.022 1172.74 240.022Z" fill="white"/>
                            <path class="letter-r  last-word-letter" d="M1298.83 261.006C1302.28 255.852 1304.87 249.348 1306.59 241.495C1308.57 233.396 1309.55 224.56 1309.55 214.989V142.835C1309.55 131.546 1308.32 122.588 1305.85 115.962C1303.63 109.09 1300.18 103.2 1295.5 98.2912V96.4506L1367.61 73.6264H1369.46V128.478H1371.3C1375.25 111.053 1382.4 97.555 1392.75 87.9835C1403.11 78.4121 1417.77 73.6264 1436.76 73.6264V126.637H1413.09C1397.31 126.637 1386.1 129.828 1379.44 136.209C1372.78 142.344 1369.46 153.266 1369.46 168.973V214.989C1369.46 224.56 1370.32 233.396 1372.04 241.495C1374.02 249.348 1376.73 255.852 1380.18 261.006V262.846H1298.83V261.006Z" fill="white"/>
                            <path class="letter-s  last-word-letter" d="M1525.36 268C1514.02 268 1502.44 266.896 1490.6 264.687C1478.77 262.478 1467.8 259.165 1457.69 254.747V197.687H1461.39C1466.32 210.203 1472.73 221.125 1480.62 230.451C1488.75 239.777 1497.38 246.894 1506.5 251.802C1515.62 256.465 1524.38 258.797 1532.76 258.797C1542.37 258.797 1549.89 256.22 1555.31 251.066C1560.98 245.667 1563.82 238.549 1563.82 229.714C1563.82 221.37 1560.61 214.866 1554.2 210.203C1547.8 205.295 1537.07 201.123 1522.03 197.687C1500.83 193.024 1484.32 185.784 1472.48 175.967C1460.65 166.15 1454.73 152.529 1454.73 135.104C1454.73 122.833 1457.94 112.035 1464.35 102.709C1470.76 93.3828 1479.63 86.2656 1490.97 81.3572C1502.56 76.2033 1515.62 73.6264 1530.17 73.6264C1548.66 73.6264 1569.12 78.044 1591.55 86.8791V141.363H1587.85C1581.2 124.429 1571.58 110.44 1559.01 99.3956C1546.44 88.3517 1533.99 82.8297 1521.66 82.8297C1513.53 82.8297 1507 85.1612 1502.07 89.8242C1497.14 94.4872 1494.67 100.623 1494.67 108.231C1494.67 116.575 1497.87 123.079 1504.28 127.742C1510.94 132.405 1521.79 136.7 1536.82 140.626C1559.01 146.516 1575.9 154.493 1587.48 164.555C1599.07 174.372 1604.86 188.238 1604.86 206.154C1604.86 227.26 1597.1 242.844 1581.57 252.907C1566.28 262.969 1547.55 268 1525.36 268Z" fill="white"/>
                        </g>
                        <path class="v-letter_in" style="opacity: 0;" d="M331.514 144.496C322.266 125.683 312.761 112.071 303 103.66V102H401.257V103.66C396.119 109.193 393.55 115.944 393.55 123.912C393.55 130.109 395.477 137.192 399.33 145.16L435.936 219.86L469.459 147.816C472.798 140.955 474.468 134.093 474.468 127.232C474.468 117.936 471.257 110.079 464.835 103.66V102H513V103.66C500.67 113.62 490.651 126.679 482.945 142.836L423.605 268H393.165L331.514 144.496Z" fill="white"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="main-first__left">
            <!-- <div class="main-first__text">Grand Autograph - единственный пятизвездочный отель в&nbsp;Новосибирске. Мы предлагаем незабываемый отдых с&nbsp;круглосуточным обслуживанием в номерах и первоклассный сервис от гостиничного оператора с мировым именем</div> -->
            <!-- <div class="main-first__mobile-wr"></div> -->
            <!-- <div class="main-first__image">
                <img src="include/images/main-f-bl.png" alt="main-f-bl">
            </div> -->
        </div>
        <div class="main-first__right">
            <div class="main-first__video-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="29" viewBox="0 0 25 29" fill="none"><path d="M24.9367 14.5825L0.158225 28.8883L0.158226 0.2766L24.9367 14.5825Z" fill="white"/></svg>
            </div>
            <div class="main-first__video-poster">
                <img src="include/images/main-video-poster.png" alt="include/images/main-video-poster">
            </div>
            <div class="main-first__video">
                <video src="files/test_video.mp4" controls poster="include/images/main-video-poster.png" autobuffer="autobuffer" playsinline="playsinline" preload="metadata"></video>
            </div>
            <!-- <div class="main-first__right-title">остановиться здесь</div> -->
        </div>
        <!-- <div class="main-first__title">
            <svg class="first-letter" width="192" height="247" viewBox="0 0 192 247" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 244.326C8.92784 232.384 13.3918 215.758 13.3918 194.449V51.844C13.3918 30.5351 8.92784 13.9095 0 1.96716V0.210938H182.199L191.714 72.9187H188.19C179.262 52.0781 167.867 36.3892 154.005 25.8518C140.379 15.3145 120.878 10.0458 95.5044 10.0458H75.0644V117.878H97.6189C112.185 117.878 123.698 114.483 132.156 107.692C140.848 100.667 147.192 90.4809 151.186 77.1336H154.71V168.457H151.186C147.192 155.11 140.848 145.041 132.156 138.25C123.698 131.225 112.185 127.713 97.6189 127.713H75.0644V194.449C75.0644 215.758 79.5283 232.384 88.4561 244.326V246.083H0V244.326Z" fill="white"/>
            </svg>
            <svg class="v-letter" width="210" height="166" viewBox="0 0 210 166" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M28.5138 42.496C19.2661 23.6827 9.76147 10.0707 0 1.65999V0H98.2569V1.65999C93.1193 7.19333 90.5505 13.944 90.5505 21.912C90.5505 28.1093 92.4771 35.192 96.3303 43.16L132.936 117.86L166.459 45.816C169.798 38.9547 171.468 32.0933 171.468 25.232C171.468 15.936 168.257 8.07866 161.835 1.65999V0H210V1.65999C197.67 11.62 187.651 24.6787 179.945 40.836L120.605 166H90.1651L28.5138 42.496Z" fill="white"/>
            </svg>
            <svg class="last-word" width="935" height="268" viewBox="0 0 935 268" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M894.485 66.7148C892.831 65.4801 892.004 64.1768 892.004 62.8048C892.004 61.7073 892.418 60.6784 893.245 59.718C894.898 57.6601 899.928 53.1328 908.334 46.136C898.137 46.136 891.384 45.5187 888.077 44.2839C885.734 43.4608 884.563 42.0202 884.563 39.9624C884.563 39.688 884.701 39.002 884.976 37.9045C885.803 35.2978 887.25 33.9945 889.317 33.9945C889.868 33.9945 890.557 34.1317 891.384 34.4061C893.865 35.5036 899.722 38.8648 908.955 44.4897C906.061 33.9259 904.614 27.4093 904.614 24.9398C904.614 21.6472 906.336 20.0009 909.781 20.0009C913.227 20.0009 914.949 21.6472 914.949 24.9398C914.949 27.4093 913.502 33.9259 910.608 44.4897C919.841 38.8648 925.698 35.5036 928.179 34.4061C929.005 34.1317 929.694 33.9945 930.246 33.9945C932.313 33.9945 933.76 35.2978 934.587 37.9045C934.862 39.002 935 39.688 935 39.9624C935 42.0202 933.829 43.4608 931.486 44.2839C928.179 45.5187 921.426 46.136 911.228 46.136C919.635 53.1328 924.665 57.6601 926.318 59.718C927.145 60.6784 927.558 61.7073 927.558 62.8048C927.558 64.1768 926.732 65.4801 925.078 66.7148C924.113 67.538 923.08 67.9495 921.977 67.9495C920.461 67.9495 919.152 67.195 918.05 65.6859C916.396 63.628 913.64 57.3858 909.781 46.9592C905.923 57.3858 903.167 63.628 901.513 65.6859C900.411 67.195 899.101 67.9495 897.585 67.9495C896.483 67.9495 895.45 67.538 894.485 66.7148Z" fill="white"/>
                <path d="M93.9243 268C76.9144 268 60.151 266.159 43.6341 262.478C27.1172 258.551 13.8051 254.256 3.69775 249.593V170.077H7.39558C16.7634 196.337 29.9522 217.443 46.9621 233.396C64.2186 249.348 83.4472 257.324 104.648 257.324C119.439 257.324 130.902 253.397 139.038 245.544C147.419 237.691 151.61 227.751 151.61 215.725C151.61 206.399 148.775 198.546 143.105 192.165C137.682 185.784 130.533 180.63 121.658 176.703C113.03 172.777 101.69 168.604 87.638 164.187C67.9163 158.051 52.0158 152.038 39.9363 146.148C28.1033 140.258 18.489 132.159 11.0934 121.852C3.69778 111.299 0 97.555 0 80.6209C0 65.6502 4.06756 52.0293 12.2027 39.7583C20.3379 27.4872 31.8011 17.793 46.5923 10.6758C61.6301 3.55861 78.8865 0 98.3616 0C113.399 0 128.314 1.59524 143.105 4.78572C157.896 7.9762 169.606 11.4121 178.234 15.0934V89.0879H174.537C152.596 36.8132 124.123 10.6758 89.1172 10.6758C76.0516 10.6758 65.328 14.2344 56.9463 21.3517C48.8111 28.2235 44.7435 37.304 44.7435 48.5934C44.7435 57.4286 47.4552 64.9139 52.8786 71.0495C58.3021 76.9396 65.6977 82.0934 75.0654 86.511C84.6797 90.6832 97.4989 95.2235 113.523 100.132C131.272 105.531 145.817 111.176 157.157 117.066C168.497 122.711 177.988 131.055 185.63 142.099C193.272 153.143 197.093 167.5 197.093 185.17C197.093 201.123 193.026 215.357 184.89 227.874C177.002 240.39 165.292 250.207 149.761 257.324C134.23 264.441 115.618 268 93.9243 268Z" fill="white"/>
                <path d="M300.262 268C282.512 268 267.845 262.478 256.258 251.434C244.672 240.145 238.878 225.419 238.878 207.258V115.962C238.878 109.09 237.276 103.445 234.071 99.0275C231.113 94.3645 227.169 91.0513 222.238 89.0879V87.2473C235.797 82.8297 248.986 76.2033 261.805 67.3681C274.87 58.533 286.58 48.348 296.934 36.8132H298.783V78.7802H352.401L347.594 92.7693H298.783V207.258C298.783 218.793 301.864 227.628 308.027 233.764C314.19 239.899 321.709 242.967 330.584 242.967C335.761 242.967 340.322 242.108 344.266 240.39C348.21 238.427 350.922 236.218 352.401 233.764L356.099 235.604C352.401 245.176 345.375 253.029 335.021 259.165C324.914 265.055 313.328 268 300.262 268Z" fill="white"/>
                <path d="M551.274 247.016C547.823 253.397 542.276 258.551 534.634 262.478C527.238 266.159 518.61 268 508.749 268C497.656 268 488.658 265.546 481.755 260.637C475.099 255.729 470.538 248.98 468.073 240.39H466.594C456.487 258.797 439.353 268 415.194 268C399.91 268 387.954 264.441 379.326 257.324C370.944 250.207 366.753 240.267 366.753 227.506C366.753 213.762 371.56 202.227 381.175 192.901C391.035 183.575 403.608 176.581 418.892 171.918C434.423 167.255 450.817 164.923 468.073 164.923V146.516C468.073 132.527 463.882 121.361 455.501 113.016C447.365 104.672 435.902 100.5 421.111 100.5C410.757 100.5 401.513 102.832 393.377 107.495C385.242 112.158 378.833 118.784 374.149 127.374H370.451C374.888 110.685 384.256 97.555 398.554 87.9835C412.852 78.4121 429.739 73.6264 449.214 73.6264C473.866 73.6264 493.095 80.3755 506.9 93.8736C520.952 107.126 527.978 124.674 527.978 146.516V232.659C527.978 243.212 531.922 248.489 539.811 248.489C542.029 248.489 544.002 248.121 545.727 247.385C547.453 246.648 548.685 245.912 549.425 245.176L551.274 247.016ZM447.735 240.022C453.405 240.022 458.212 238.304 462.157 234.868C466.101 231.432 468.073 227.137 468.073 221.984V173.758C455.994 174.495 446.379 178.299 439.23 185.17C432.081 192.042 428.507 201.491 428.507 213.516C428.507 222.843 430.232 229.592 433.684 233.764C437.381 237.936 442.065 240.022 447.735 240.022Z" fill="white"/>
                <path d="M573.828 261.006C577.279 255.852 579.867 249.348 581.593 241.495C583.565 233.396 584.551 224.56 584.551 214.989V142.835C584.551 131.546 583.319 122.588 580.853 115.962C578.635 109.09 575.183 103.2 570.5 98.2912V96.4506L642.607 73.6264H644.456V128.478H646.305C650.249 111.053 657.398 97.555 667.752 87.9835C678.106 78.4121 692.774 73.6264 711.756 73.6264V126.637H688.09C672.313 126.637 661.096 129.828 654.44 136.209C647.784 142.344 644.456 153.266 644.456 168.973V214.989C644.456 224.56 645.318 233.396 647.044 241.495C649.016 249.348 651.728 255.852 655.179 261.006V262.846H573.828V261.006Z" fill="white"/>
                <path d="M800.362 268C789.022 268 777.435 266.896 765.602 264.687C753.769 262.478 742.799 259.165 732.692 254.747V197.687H736.39C741.32 210.203 747.73 221.125 755.618 230.451C763.753 239.777 772.382 246.894 781.503 251.802C790.624 256.465 799.376 258.797 807.757 258.797C817.372 258.797 824.89 256.22 830.314 251.066C835.984 245.667 838.819 238.549 838.819 229.714C838.819 221.37 835.614 214.866 829.205 210.203C822.795 205.295 812.071 201.123 797.034 197.687C775.833 193.024 759.316 185.784 747.483 175.967C735.65 166.15 729.734 152.529 729.734 135.104C729.734 122.833 732.938 112.035 739.348 102.709C745.757 93.3828 754.632 86.2656 765.972 81.3572C777.559 76.2033 790.624 73.6264 805.169 73.6264C823.658 73.6264 844.119 78.044 866.552 86.8791V141.363H862.855C856.198 124.429 846.584 110.44 834.012 99.3956C821.439 88.3517 808.99 82.8297 796.664 82.8297C788.529 82.8297 781.996 85.1612 777.065 89.8242C772.135 94.4872 769.67 100.623 769.67 108.231C769.67 116.575 772.875 123.079 779.284 127.742C785.94 132.405 796.787 136.7 811.825 140.626C834.012 146.516 850.898 154.493 862.485 164.555C874.071 174.372 879.865 188.238 879.865 206.154C879.865 227.26 872.099 242.844 856.568 252.907C841.284 262.969 822.548 268 800.362 268Z" fill="white"/>
            </svg>
            <svg class="main_svg"width="1660" height="268" viewBox="0 0 1660 268" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="first-letter_in" style="opacity:0;" d="M0 261.326C8.92784 249.384 13.3918 232.758 13.3918 211.449V68.844C13.3918 47.5351 8.92784 30.9095 0 18.9672V17.2109H182.199L191.714 89.9187H188.19C179.262 69.0781 167.867 53.3892 154.005 42.8518C140.379 32.3145 120.878 27.0458 95.5044 27.0458H75.0644V134.878H97.6189C112.185 134.878 123.698 131.483 132.156 124.692C140.848 117.667 147.192 107.481 151.186 94.1336H154.71V185.457H151.186C147.192 172.11 140.848 162.041 132.156 155.25C123.698 148.225 112.185 144.713 97.6189 144.713H75.0644V211.449C75.0644 232.758 79.5283 249.384 88.4561 261.326V263.083H0V261.326Z" fill="white"/>
                <path class="second-letter_in" d="M215.736 261.326C219.025 256.409 221.492 250.204 223.136 242.71C225.016 234.983 225.956 226.553 225.956 217.421V148.577C225.956 137.805 224.781 129.258 222.432 122.936C220.317 116.379 217.028 110.759 212.564 106.076V104.32L281.285 82.5426H283.047V217.421C283.047 226.553 283.869 234.983 285.514 242.71C287.393 250.204 289.978 256.409 293.267 261.326V263.083H215.736V261.326ZM254.501 63.9266C245.574 63.9266 237.938 60.8825 231.594 54.7942C225.486 48.4718 222.432 40.8615 222.432 31.9633C222.432 23.0651 225.486 15.5719 231.594 9.4836C237.938 3.1612 245.574 0 254.501 0C263.429 0 270.947 3.1612 277.056 9.4836C283.399 15.5719 286.571 23.0651 286.571 31.9633C286.571 40.8615 283.399 48.4718 277.056 54.7942C270.947 60.8825 263.429 63.9266 254.501 63.9266Z" fill="white"/>
                <path d="M672 201.615C667.771 221.987 658.373 238.144 643.807 250.086C629.475 262.029 612.09 268 591.65 268C575.673 268 561.224 264.488 548.302 257.463C535.381 250.438 525.161 240.252 517.642 226.904C510.124 213.557 506.365 197.517 506.365 178.784C506.365 160.051 510.359 143.425 518.347 128.907C526.335 114.155 537.143 102.798 550.769 94.8362C564.631 86.6405 579.785 82.5426 596.231 82.5426C611.267 82.5426 624.307 85.7038 635.349 92.0262C646.626 98.1145 655.202 106.31 661.075 116.613C666.949 126.917 669.886 138.156 669.886 150.333H551.827C553.236 166.49 557.113 180.423 563.456 192.131C570.035 203.605 578.375 212.386 588.478 218.474C598.58 224.329 609.623 227.256 621.605 227.256C631.942 227.256 641.222 225.031 649.445 220.582C657.669 215.899 664.012 209.576 668.476 201.615H672ZM581.429 92.3775C571.797 92.3775 564.396 96.4753 559.227 104.671C554.059 112.633 551.474 123.99 551.474 138.742V141.903H614.909C613.734 126.917 610.21 114.974 604.336 106.076C598.698 96.9436 591.062 92.3775 581.429 92.3775Z" fill="white"/>
                <g class="main_svg_last_word">
                    <path class="letter-star last-word-letter" d="M1619.48 66.7148C1617.83 65.4801 1617 64.1768 1617 62.8048C1617 61.7073 1617.42 60.6784 1618.24 59.718C1619.9 57.6601 1624.93 53.1328 1633.33 46.136C1623.14 46.136 1616.38 45.5187 1613.08 44.2839C1610.73 43.4608 1609.56 42.0202 1609.56 39.9624C1609.56 39.688 1609.7 39.002 1609.98 37.9045C1610.8 35.2978 1612.25 33.9945 1614.32 33.9945C1614.87 33.9945 1615.56 34.1317 1616.38 34.4061C1618.86 35.5036 1624.72 38.8648 1633.95 44.4897C1631.06 33.9259 1629.61 27.4093 1629.61 24.9398C1629.61 21.6472 1631.34 20.0009 1634.78 20.0009C1638.23 20.0009 1639.95 21.6472 1639.95 24.9398C1639.95 27.4093 1638.5 33.9259 1635.61 44.4897C1644.84 38.8648 1650.7 35.5036 1653.18 34.4061C1654.01 34.1317 1654.69 33.9945 1655.25 33.9945C1657.31 33.9945 1658.76 35.2978 1659.59 37.9045C1659.86 39.002 1660 39.688 1660 39.9624C1660 42.0202 1658.83 43.4608 1656.49 44.2839C1653.18 45.5187 1646.43 46.136 1636.23 46.136C1644.63 53.1328 1649.66 57.6601 1651.32 59.718C1652.15 60.6784 1652.56 61.7073 1652.56 62.8048C1652.56 64.1768 1651.73 65.4801 1650.08 66.7148C1649.11 67.538 1648.08 67.9495 1646.98 67.9495C1645.46 67.9495 1644.15 67.195 1643.05 65.6859C1641.4 63.628 1638.64 57.3858 1634.78 46.9592C1630.92 57.3858 1628.17 63.628 1626.51 65.6859C1625.41 67.195 1624.1 67.9495 1622.59 67.9495C1621.48 67.9495 1620.45 67.538 1619.48 66.7148Z" fill="white"/>
                    <path class="letter-s  last-word-letter" d="M818.924 268C801.914 268 785.151 266.159 768.634 262.478C752.117 258.551 738.805 254.256 728.698 249.593V170.077H732.396C741.763 196.337 754.952 217.443 771.962 233.396C789.219 249.348 808.447 257.324 829.648 257.324C844.439 257.324 855.902 253.397 864.038 245.544C872.419 237.691 876.61 227.751 876.61 215.725C876.61 206.399 873.775 198.546 868.105 192.165C862.682 185.784 855.533 180.63 846.658 176.703C838.03 172.777 826.69 168.604 812.638 164.187C792.916 158.051 777.016 152.038 764.936 146.148C753.103 140.258 743.489 132.159 736.093 121.852C728.698 111.299 725 97.555 725 80.6209C725 65.6502 729.068 52.0293 737.203 39.7583C745.338 27.4872 756.801 17.793 771.592 10.6758C786.63 3.55861 803.887 0 823.362 0C838.399 0 853.314 1.59524 868.105 4.78572C882.896 7.9762 894.606 11.4121 903.234 15.0934V89.0879H899.537C877.596 36.8132 849.123 10.6758 814.117 10.6758C801.052 10.6758 790.328 14.2344 781.946 21.3517C773.811 28.2235 769.743 37.304 769.743 48.5934C769.743 57.4286 772.455 64.9139 777.879 71.0495C783.302 76.9396 790.698 82.0934 800.065 86.511C809.68 90.6832 822.499 95.2235 838.523 100.132C856.272 105.531 870.817 111.176 882.157 117.066C893.497 122.711 902.988 131.055 910.63 142.099C918.272 153.143 922.093 167.5 922.093 185.17C922.093 201.123 918.026 215.357 909.89 227.874C902.002 240.39 890.292 250.207 874.761 257.324C859.23 264.441 840.618 268 818.924 268Z" fill="white"/>
                    <path class="letter-t  last-word-letter" d="M1025.26 268C1007.51 268 992.845 262.478 981.258 251.434C969.672 240.145 963.878 225.419 963.878 207.258V115.962C963.878 109.09 962.276 103.445 959.071 99.0275C956.113 94.3645 952.169 91.0513 947.238 89.0879V87.2473C960.797 82.8297 973.986 76.2033 986.805 67.3681C999.87 58.533 1011.58 48.348 1021.93 36.8132H1023.78V78.7802H1077.4L1072.59 92.7693H1023.78V207.258C1023.78 218.793 1026.86 227.628 1033.03 233.764C1039.19 239.899 1046.71 242.967 1055.58 242.967C1060.76 242.967 1065.32 242.108 1069.27 240.39C1073.21 238.427 1075.92 236.218 1077.4 233.764L1081.1 235.604C1077.4 245.176 1070.38 253.029 1060.02 259.165C1049.91 265.055 1038.33 268 1025.26 268Z" fill="white"/>
                    <path class="letter-a  last-word-letter" d="M1276.27 247.016C1272.82 253.397 1267.28 258.551 1259.63 262.478C1252.24 266.159 1243.61 268 1233.75 268C1222.66 268 1213.66 265.546 1206.76 260.637C1200.1 255.729 1195.54 248.98 1193.07 240.39H1191.59C1181.49 258.797 1164.35 268 1140.19 268C1124.91 268 1112.95 264.441 1104.33 257.324C1095.94 250.207 1091.75 240.267 1091.75 227.506C1091.75 213.762 1096.56 202.227 1106.17 192.901C1116.04 183.575 1128.61 176.581 1143.89 171.918C1159.42 167.255 1175.82 164.923 1193.07 164.923V146.516C1193.07 132.527 1188.88 121.361 1180.5 113.016C1172.37 104.672 1160.9 100.5 1146.11 100.5C1135.76 100.5 1126.51 102.832 1118.38 107.495C1110.24 112.158 1103.83 118.784 1099.15 127.374H1095.45C1099.89 110.685 1109.26 97.555 1123.55 87.9835C1137.85 78.4121 1154.74 73.6264 1174.21 73.6264C1198.87 73.6264 1218.1 80.3755 1231.9 93.8736C1245.95 107.126 1252.98 124.674 1252.98 146.516V232.659C1252.98 243.212 1256.92 248.489 1264.81 248.489C1267.03 248.489 1269 248.121 1270.73 247.385C1272.45 246.648 1273.69 245.912 1274.42 245.176L1276.27 247.016ZM1172.74 240.022C1178.41 240.022 1183.21 238.304 1187.16 234.868C1191.1 231.432 1193.07 227.137 1193.07 221.984V173.758C1180.99 174.495 1171.38 178.299 1164.23 185.17C1157.08 192.042 1153.51 201.491 1153.51 213.516C1153.51 222.843 1155.23 229.592 1158.68 233.764C1162.38 237.936 1167.07 240.022 1172.74 240.022Z" fill="white"/>
                    <path class="letter-r  last-word-letter" d="M1298.83 261.006C1302.28 255.852 1304.87 249.348 1306.59 241.495C1308.57 233.396 1309.55 224.56 1309.55 214.989V142.835C1309.55 131.546 1308.32 122.588 1305.85 115.962C1303.63 109.09 1300.18 103.2 1295.5 98.2912V96.4506L1367.61 73.6264H1369.46V128.478H1371.3C1375.25 111.053 1382.4 97.555 1392.75 87.9835C1403.11 78.4121 1417.77 73.6264 1436.76 73.6264V126.637H1413.09C1397.31 126.637 1386.1 129.828 1379.44 136.209C1372.78 142.344 1369.46 153.266 1369.46 168.973V214.989C1369.46 224.56 1370.32 233.396 1372.04 241.495C1374.02 249.348 1376.73 255.852 1380.18 261.006V262.846H1298.83V261.006Z" fill="white"/>
                    <path class="letter-s  last-word-letter" d="M1525.36 268C1514.02 268 1502.44 266.896 1490.6 264.687C1478.77 262.478 1467.8 259.165 1457.69 254.747V197.687H1461.39C1466.32 210.203 1472.73 221.125 1480.62 230.451C1488.75 239.777 1497.38 246.894 1506.5 251.802C1515.62 256.465 1524.38 258.797 1532.76 258.797C1542.37 258.797 1549.89 256.22 1555.31 251.066C1560.98 245.667 1563.82 238.549 1563.82 229.714C1563.82 221.37 1560.61 214.866 1554.2 210.203C1547.8 205.295 1537.07 201.123 1522.03 197.687C1500.83 193.024 1484.32 185.784 1472.48 175.967C1460.65 166.15 1454.73 152.529 1454.73 135.104C1454.73 122.833 1457.94 112.035 1464.35 102.709C1470.76 93.3828 1479.63 86.2656 1490.97 81.3572C1502.56 76.2033 1515.62 73.6264 1530.17 73.6264C1548.66 73.6264 1569.12 78.044 1591.55 86.8791V141.363H1587.85C1581.2 124.429 1571.58 110.44 1559.01 99.3956C1546.44 88.3517 1533.99 82.8297 1521.66 82.8297C1513.53 82.8297 1507 85.1612 1502.07 89.8242C1497.14 94.4872 1494.67 100.623 1494.67 108.231C1494.67 116.575 1497.87 123.079 1504.28 127.742C1510.94 132.405 1521.79 136.7 1536.82 140.626C1559.01 146.516 1575.9 154.493 1587.48 164.555C1599.07 174.372 1604.86 188.238 1604.86 206.154C1604.86 227.26 1597.1 242.844 1581.57 252.907C1566.28 262.969 1547.55 268 1525.36 268Z" fill="white"/>
                </g>
                <path class="v-letter_in" style="opacity: 0;" d="M331.514 144.496C322.266 125.683 312.761 112.071 303 103.66V102H401.257V103.66C396.119 109.193 393.55 115.944 393.55 123.912C393.55 130.109 395.477 137.192 399.33 145.16L435.936 219.86L469.459 147.816C472.798 140.955 474.468 134.093 474.468 127.232C474.468 117.936 471.257 110.079 464.835 103.66V102H513V103.66C500.67 113.62 490.651 126.679 482.945 142.836L423.605 268H393.165L331.514 144.496Z" fill="white"/>
            </svg>
        </div> -->
    </div>
</section>

<section class="reservation-block block-padding" data-scroll-section>
    <div class="reservation-block__inner block-width">
        <div class="reservation-block__title">Бронирование номеров</div>
        <div class="reservation-block__form">
            <div class="reservation-block__form-item item-input">
                <div class="item-title">Заезд</div>
                <div class="item-value">
                    <input type="text" class="zaezd">
                </div>
            </div>
            <div class="reservation-block__form-item item-input">
                <div class="item-title">Выезд</div>
                <div class="item-value">
                    <input type="text" class="viezd">
                </div>
            </div>
            <div class="reservation-block__form-item item-input">
                <div class="item-title">Гости</div>
                <div class="item-value">
                    <input type="text" class="guests">
                </div>
            </div>
            <div class="reservation-block__form-item item-button">
                <button class="button button-primary"><span>Найти номер</span></button>
            </div>
        </div>
    </div>
</section>

<section class="citys-pearl block-padding" data-scroll-section>
    <div class="citys-pearl__inner block-width">
        <div class="citys-pearl__title block-title">Жемчужина города</div>
        <div class="citys-pearl__text">У нас есть все необходимое, чтобы шикарно провести время как гостям города, так и жителям Новосибирска: шикарные номера с видом на&nbsp;центр города и Оперный театр, закрытый бассейн, тренажерный зал&nbsp;и SPA, а также 2 ресторана с авторской кухней</div>
        <div class="citys-pearl__top-image">
            <div class="small-pearl">
                <img src="include/images/small_pearl.png" alt="small_pearl">
            </div>
            <div class="medium-pearl">
                <img src="include/images/medium_pearl.png" alt="medium_pearl">
            </div>
        </div>
        <div class="citys-pearl__list">
            <div class="citys-pearl__list-inner">
                <div class="citys-pearl__item">
                    <div class="citys-pearl__item-icon">
                        <img src="include/images/pearl_item_icon1.svg" alt="pearl_item_icon1">
                    </div>
                    <div class="citys-pearl__item-title">Единственный 5* отель в Новосибирске</div>
                </div>
                <div class="citys-pearl__item">
                    <div class="citys-pearl__item-icon">
                        <img src="include/images/pearl_item_icon2.svg" alt="pearl_item_icon2">
                    </div>
                    <div class="citys-pearl__item-title">Центр города</div>
                </div>
                <div class="citys-pearl__item">
                    <div class="citys-pearl__item-icon">
                        <img src="include/images/pearl_item_icon3.svg" alt="pearl_item_icon3">
                    </div>
                    <div class="citys-pearl__item-title">Сервис премиум класса</div>
                </div>
                <div class="citys-pearl__item">
                    <div class="citys-pearl__item-icon">
                        <img src="include/images/pearl_item_icon4.svg" alt="pearl_item_icon4">
                    </div>
                    <div class="citys-pearl__item-title">Бассейн, хамам и СПА</div>
                </div>
                <div class="citys-pearl__item">
                    <div class="citys-pearl__item-icon">
                        <img src="include/images/pearl_item_icon5.svg" alt="pearl_item_icon5">
                    </div>
                    <div class="citys-pearl__item-title">6 конференц-залов</div>
                </div>
                <div class="citys-pearl__item">
                    <div class="citys-pearl__item-icon">
                        <img src="include/images/pearl_item_icon6.svg" alt="pearl_item_icon6">
                    </div>
                    <div class="citys-pearl__item-title">2 ресторана на территории отеля</div>
                </div>
            </div>
        </div>
        <div class="citys-pearl__bottom-image">
            <div class="big-pearl">
                <img src="include/images/big_pearl.png" alt="big_pearl">
            </div>
        </div>
    </div>
</section>

<section class="interiors-block block-padding" data-scroll-section>
    <div class="interiors-block__inner block-width">
        <div class="interiors-block__title block-title">Интерьеры и номера</div>
        <div class="interiors-block__body">
            <div class="interiors-block__left">
                <div class="interiors-block__left-slider">
                    <div class="slider-inner">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="slider-item swiper-slide">
                                    <a href="include/images/inter_left_sl1.png" class="slider-item__image">
                                        <img src="include/images/inter_left_sl1.png" alt="inter_left_sl1">
                                    </a>
                                    
                                </div>
                                <div class="slider-item swiper-slide">
                                    <a href="include/images/inter_left_sl1.png" class="slider-item__image">
                                        <img src="include/images/inter_left_sl1.png" alt="inter_left_sl1">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-nav">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <a href="#" class="slider-item__btn button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M12.4783 0.760864V10.5217L11.5217 10.5217V0.760864H12.4783ZM11.5217 11.5217L12.4783 11.5217V12.4783L11.5217 12.4783V11.5217ZM13.4783 12.4783V11.5217H23.2391V12.4783H13.4783ZM11.5217 13.4783L12.4783 13.4783V23.2391H11.5217V13.4783ZM10.5217 11.5217V12.4783H0.760864L0.760864 11.5217H10.5217Z" fill="#9C163A" stroke="white"/></svg>
                    </a>
                </div>
                <div class="interiors-block__left-text">В Grand Autograph вас ждет 175 номеров, каждый из которых – воплощение роскоши и комфорта. Выбирайте номер по душе: с собственной террасой, где можно наслаждаться закатом, или с захватывающим видом на Оперный театр. В каждом номере вас ждет изысканный декор, просторные ванные комнаты и роскошное постельное белье из натуральных материалов. Гостям мы предлагаем круглосуточный рум-сервис и возможность позднего выезда. Отдыхайте, наслаждаясь каждым моментом своего пребывания в Grand Autograph и не беспокоясь о мелочах.</div>
                <div class="interiors-block__left-bigText">
                    <p>НАСТОЯЩИЙ рай В СЕРДЦЕ Новосибирска.</p>
                    <p>открыть ЕГО — ЗНАЧИТ НАЙТИ ИДЕАЛЬНОЕ МЕСТО ДЛЯ проживания <br>В СТОЛИЦЕ сибири.</p>
                </div>
                <div class="interiors-block__mobile">
                    <div class="interiors-block__gallery-btn">
                        <span class="button button-primary-bordered"><span>Смотреть номера</span></span>
                    </div>
                    <div class="interiors-block__pearl">
                        <img src="include/images/interiors_bl_pearl.png" alt="interiors_bl_pearl">
                    </div>
                </div>
            </div>
            <div class="interiors-block__right">
                <div class="interiors-block__right-slider">
                    <div class="slider-inner">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="slider-item swiper-slide">
                                    <img src="include/images/inter_right_sl1.png" alt="inter_right_sl1">
                                </div>
                                <div class="slider-item swiper-slide">
                                    <img src="include/images/inter_right_sl1.png" alt="inter_right_sl1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-nav">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                <div class="interiors-block__right-text">
                    <p>К разработке интерьера отеля Grand Autograph мы подходили как к произведению искусства, ведь он находится рядом Новосибирским театром оперы и балета.</p>
                    <p>Каждый номер украшен эксклюзивной картиной балерины, создающей атмосферу элегантности и легкости балетного танца.</p>
                    <p>А главное украшение холла отеля - величественная лестница с изящными линиями, утонченной отделкой и волшебным освещением - стала любимым местом для фотосессий.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="congress-block block-padding" data-scroll-section>
    <div class="congress-block__inner block-width">
        <div class="congress-block__title block-title">Конгресс-холл</div>
        <div class="congress-block__top-pearl">
            <img src="include/images/congress_top_pearl.png" alt="congress_top_pearl">
        </div>
        <div class="congress-block__body">
            <div class="congress-block__text">
                <p>Grand Autograph - идеальное место для проведения деловых мероприятий и незабываемых торжеств.</p>
                <p>Для бизнес-мероприятий: 6 современных конференц-залов, общей площадью 448 м², оснащенных по последнему слову техники, предоставят вам комфортные условия для проведения встреч, переговоров, презентаций и конференций.</p>
                <p>Для свадебных торжеств: 6 элегантных залов отеля созданы для того, чтобы этот особенный день стал сказочным. Многолетний опыт организации банкетов позволяет нам взять на себя все заботы о подготовке вашего торжества. Мы предлагаем индивидуальный подход и готовы порадовать молодоженов приятными бонусами.</p>
            </div>
            <div class="congress-block__gallery">
                <div class="congress-block__gallery-item">
                    <a href="include/images/congress_img1.png">
                        <img src="include/images/congress_img1.png" alt="congress_img1">
                    </a>
                </div>
                <div class="congress-block__gallery-item">
                    <a href="include/images/congress_img2.png">
                        <img src="include/images/congress_img2.png" alt="congress_img2">
                    </a>
                </div>
                <div class="congress-block__gallery-item">
                    <a href="include/images/congress_img3.png">
                        <img src="include/images/congress_img3.png" alt="congress_img3">
                    </a>
                </div>
                <div class="congress-block__gallery-item">
                    <a href="include/images/congress_img1.png">
                        <img src="include/images/congress_img1.png" alt="congress_img1">
                    </a>
                </div>
            </div>
        </div>
        <div class="congress-block__bottom-pearls">
            <div class="big">
                <img src="include/images/congress_big_pearl.png" alt="congress_big_pearl">
            </div>
            <div class="medium">
                <img src="include/images/congress_medium_pearl.png" alt="congress_medium_pearl">
            </div>
            <div class="small">
                <img src="include/images/congress_small_pearl.png" alt="congress_small_pearl">
            </div>
        </div>
    </div>
</section>

<section class="announces-block block-padding" data-scroll-section>
    <div class="announces-block__inner block-width">
        <div class="announces-block__header">
            <div class="announces-block__nav">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <div class="announces-block__btn">
                <a href="#" class="button button-primary-bordered"><span>Все события</span></a>
            </div>
            <div class="announces-block__title block-title">Анонсы мероприятий</div>
        </div>
        <div class="announces-block__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="announces-block__slider-item swiper-slide">
                        <div class="item-header">
                            <div class="item-btn">
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white"/><path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white"/></svg>
                                </a>
                            </div>
                            <div class="item-date">12-25 июля</div>
                        </div>
                        <div class="item-title">Винный ужин</div>
                        <div class="item-body">
                            <img src="include/images/announce_sl1.png" alt="announce_sl2">
                        </div>
                    </div>
                    <div class="announces-block__slider-item swiper-slide with_line">
                        <div class="item-header">
                            <div class="item-btn">
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white"/><path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white"/></svg>
                                </a>
                            </div>
                            <div class="item-date">11-14 июля</div>
                        </div>
                        <div class="item-title">Мероприятие в честь дня рождения отеля</div>
                        <div class="item-body">
                            <img src="include/images/announce_sl2.png" alt="announce_sl2">
                        </div>
                    </div>
                    <div class="announces-block__slider-item swiper-slide">
                        <div class="item-header">
                            <div class="item-btn">
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white"/><path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white"/></svg>
                                </a>
                            </div>
                            <div class="item-date">12-25 июля</div>
                        </div>
                        <div class="item-title">Винный ужин</div>
                        <div class="item-body">
                            <img src="include/images/announce_sl1.png" alt="announce_sl2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="restaurants-block block-padding" data-scroll-section>
    <div class="restaurants-block__inner block-width">
        <div class="restaurants-block__title block-title">Рестораны</div>
        <div class="restaurants-block__pearl">
            <img src="include/images/rest_pearl.png" alt="rest_pearl">
        </div>
        <div class="restaurants-block__body">
            <div class="restaurants-block__top-blocks">
                <div class="restaurants-block__top-left">
                    <a href="#" class="image-item-wr">
                        <span class="logo">
                            <img src="include/images/uv_logo.svg" alt="uv_logo">
                        </span>
                        <span class="image">
                            <img src="include/images/uvertura.png" alt="uvertura">
                        </span>
                        <span class="text">
                            <span class="desc">Кафе&Бар</span>
                            <span class="title">Увертюра</span>
                        </span>
                    </a>
                </div>
                <div class="restaurants-block__top-right">
                    <div class="title">два ресторана при отеле: overture, 10ten, capsula</div>
                    <a href="#" class="image-item-wr">
                        <span class="logo">
                            <img src="include/images/ten_logo.svg" alt="ten_logo">
                        </span>
                        <span class="image">
                            <img src="include/images/10ten.png" alt="10ten">
                        </span>
                        <span class="text">
                            <span class="desc">Терраса&Бар</span>
                            <span class="title">10ТЕН</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="restaurants-block__middle">
                <div class="restaurants-block__mobile-pearls">
                    <div class="small">
                        <img src="include/images/chef_small_pearl.png" alt="chef_small_pearl">
                    </div>
                    <div class="big">
                        <img src="include/images/chef_big_pearl.png" alt="chef_big_pearl">
                    </div>
                </div>
                <div class="restaurants-block__middle-left">
                    <div class="restaurants-block__middle-image">
                        <img src="include/images/chef_image.png" alt="chef_image">
                    </div>
                    <div class="restaurants-block__middle-body">
                        <div class="restaurants-block__middle-desc">Шеф-повар</div>
                        <div class="restaurants-block__middle-title">Артак Шекоян</div>
                        <div class="restaurants-block__middle-text">Шеф-повар Bar & terrace Ten Артак Шекоян признан лучшим в номинации «Молодой шеф Сибири» по версии премии «Что Где Есть в Сибири». В меню вы найдете авторские концептуальные рецепты европейской и средиземноморской кухни.</div>
                        <div class="restaurants-block__middle-btn">
                            <a href="#" class="button button-primary-bordered"><span>Биография</span></a>
                        </div>
                    </div>
                </div>
                <div class="restaurants-block__middle-right">
                    <a href="#" class="image-item-wr">
                        <span class="logo">
                            <img src="include/images/room_srvs_logo.svg" alt="room_srvs_logo">
                        </span>
                        <span class="image">
                            <img src="include/images/room_service.png" alt="room_service">
                        </span>
                        <span class="text">
                            <span class="desc">Услуга</span>
                            <span class="title">Рум-сервис</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="restaurants-block__bottom">
                <div class="restaurants-block__bottom-left">
                    <div class="restaurants-block__bottom-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="restaurants-block__slider-item swiper-slide">
                                    <div class="image">
                                        <img src="include/images/foode_image.png" alt="foode_image">
                                    </div>
                                </div>
                                <div class="restaurants-block__slider-item swiper-slide">
                                    <div class="image">
                                        <img src="include/images/foode_image.png" alt="foode_image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="restaurants-block__slider-nav">
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
                <div class="restaurants-block__bottom-right">
                    <div class="title">На любой <br>вкус</div>
                    <div class="text">
                        <p>На территории отеля расположены три ресторана с авторской кухней.</p>
                        <p>В ресторане Ten (на 10 этаже) вам предложат блюда европейской и средиземноморской кухни. Терраса с панорамным видом позволит полюбоваться захватывающими видами города.</p>
                        <p>А кафе-бар «Увертюра» на первом этаже станет идеальным местом для непринужденных встреч. Здесь же проходят завтраки в формате шведский стол.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="map-block block-padding" data-scroll-section>
    <div class="map-block__inner block-width">
        <div class="map-block__pearl">
            <img src="include/images/map_pearl.png" alt="map_pearl">
        </div>
        <div class="map-block__body">
            <div class="map-block__title block-title">Удобное расположение</div>
            <div class="map-block__text">Для отдыха в отеле мы предлагаем закрытый бассейн и тренажерный зал. В распоряжении гостей отеля рестораны с великолепной кухней, а также терраса на&nbsp;крыше с захватывающим видом.</div>
        </div>
        <div class="map-block__image">
            <picture class="picture header">
                <source media="(min-width: 481px)" srcset="include/images/map_image.png">
                <source media="(max-width: 480px)" srcset="include/images/map_mobile-block_image.svg">
                <img src="include/images/map_image.png" alt="map_image">
            </picture>
        </div>
    </div>
</section>

include _footer.jade