include _inner_bg_header.jade
<div class="top_inner_bg" style="background-image: url(include/images/number_top.jpg);">
    <div class="path_block_wr animation_block">
        <div class="block-padding">
            <a href="">Главная</a><span>/</span>Номера
        </div>
    </div>
    <div class="page_title animation_block">
        <div class="block-padding">
            <h1>Номера в отеле</h1>
        </div>
    </div>
</div>
<section class="reservation-block block-padding" data-scroll-section>
    <div class="reservation-block__inner block-width">
        <div class="reservation-block__title">Бронирование номеров</div>
        <div class="reservation-block__form">
            <div class="reservation-block__form-item item-input">
                <div class="item-title">Заезд</div>
                <div class="item-value">
                    <input type="text" class="zaezd">
                </div>
            </div>
            <div class="reservation-block__form-item item-input">
                <div class="item-title">Выезд</div>
                <div class="item-value">
                    <input type="text" class="viezd">
                </div>
            </div>
            <div class="reservation-block__form-item item-input">
                <div class="item-title">Гости</div>
                <div class="item-value">
                    <input type="text" class="guests">
                </div>
            </div>
            <div class="reservation-block__form-item item-button">
                <button class="button button-primary"><span>Найти номер</span></button>
            </div>
        </div>
    </div>
</section>
<div class="content_main_block">
    <section class="list_number_page block-padding" data-scroll-section>
        <div class="number_items">
            <div class="item_room">
                <div class="image">
                    <div class="swiper swiper_slider">
                        <div class="swiper-wrapper">    
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                        </div>
                        <div class="pagination_block"></div>
                    </div>
                </div>
                <div class="name">
                    <a href="">Стандарт с видом на Театр с 2 кроватями "Queen size"</a>
                </div>
                <div class="params">
                    <div class="param">
                        <i>
                            <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11.0008 0.5C12.4608 0.5 13.9408 1.94 13.9408 4.7C13.9154 6.16259 13.3935 7.5731 12.4608 8.7V9.78933C12.5315 10.1 13.0915 10.9493 14.6101 11.5707C16.1301 12.1893 16.3808 12.5707 16.7408 13.52C16.9102 14.1387 16.9981 14.7787 17.0008 15.42C17.0008 15.42 16.5915 16.5 11.9408 16.5H10.0608C5.39148 16.5 5.00082 15.42 5.00082 15.42C5.00082 14.772 5.08882 14.1267 5.26082 13.5C5.62082 12.5907 5.85148 12.1693 7.39148 11.5493C8.93148 10.9293 9.47148 10.08 9.54082 9.76933V8.67067C8.60822 7.54371 8.08635 6.13324 8.06082 4.67067C8.06082 1.91867 9.50082 0.5 11.0008 0.5ZM4.00082 15.4093C3.99263 14.6338 4.10417 13.8616 4.33148 13.12C4.53033 12.5113 4.879 11.9624 5.34544 11.5237C5.81188 11.085 6.38111 10.7706 7.00082 10.6093L7.19148 10.5C7.0382 10.3621 6.91829 10.1911 6.84082 10V9.10933C7.23548 8.696 7.55415 8.216 7.78082 7.69067C7.33358 6.75205 7.08829 5.73003 7.06082 4.69067C7.06082 4.2 7.11282 3.71067 7.21148 3.23067C6.75548 2.776 6.14348 2.51467 5.50082 2.5C4.14082 2.5 2.81148 3.64 2.81148 5.91067C2.84838 7.11651 3.32883 8.26637 4.16082 9.14V10.0293C4.10082 10.2693 3.59148 10.9693 2.16082 11.4693C0.731483 11.9693 0.540817 12.32 0.211484 13.06C0.0621503 13.5667 -0.0085164 14.092 0.000816932 14.62C0.000816932 14.62 0.331484 15.4093 4.00082 15.4893V15.4093ZM21.7608 13.06C21.4315 12.32 21.2208 11.9693 19.7608 11.4693C18.3008 10.9693 17.8608 10.2693 17.7608 10.0293V9.14C18.5931 8.26603 19.0736 7.11565 19.1101 5.90933C19.1901 3.66933 17.8408 2.5 16.5008 2.5C16.1806 2.49919 15.8634 2.56248 15.568 2.68613C15.2726 2.80979 15.005 2.99131 14.7808 3.22C14.8821 3.70667 14.9368 4.20267 14.9408 4.7C14.9134 5.73937 14.6681 6.7614 14.2208 7.7C14.4475 8.22533 14.7661 8.70667 15.1608 9.12V10.0107C15.0837 10.2016 14.9643 10.3726 14.8115 10.5107L14.9808 10.5907C15.6043 10.7486 16.1778 11.0614 16.6482 11.5001C17.1185 11.9387 17.4705 12.489 17.6715 13.1C17.8995 13.848 18.0115 14.628 18.0008 15.4093V15.5C21.6608 15.42 22.0008 14.6307 22.0008 14.6307C22.0008 14.0973 21.9208 13.568 21.7608 13.06Z" fill="#9C163A" />
                            </svg>
                        </i>
                        <span>до 3 мест</span>
                    </div>
                    <div class="param">
                        <i>
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.4069 2.5H8.87891V0.5H16.8789V8.5H14.8789V3.856L4.27491 14.572H8.87891V16.572H0.878906V8.5H2.87891V13.14L13.4069 2.5Z" fill="#9C163A" />
                            </svg>
                        </i>
                        <span>53 м²</span>
                    </div>
                </div>
                <div class="link">
                    <a href="">Смотреть</a>
                </div>
            </div>
            <div class="item_room">
                <div class="image">
                    <div class="swiper swiper_slider">
                        <div class="swiper-wrapper">    
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                        </div>
                        <div class="pagination_block"></div>
                    </div>
                </div>
                <div class="name">
                    <a href="">Стандарт с видом на Театр с 2 кроватями "Queen size"</a>
                </div>
                <div class="params">
                    <div class="param">
                        <i>
                            <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11.0008 0.5C12.4608 0.5 13.9408 1.94 13.9408 4.7C13.9154 6.16259 13.3935 7.5731 12.4608 8.7V9.78933C12.5315 10.1 13.0915 10.9493 14.6101 11.5707C16.1301 12.1893 16.3808 12.5707 16.7408 13.52C16.9102 14.1387 16.9981 14.7787 17.0008 15.42C17.0008 15.42 16.5915 16.5 11.9408 16.5H10.0608C5.39148 16.5 5.00082 15.42 5.00082 15.42C5.00082 14.772 5.08882 14.1267 5.26082 13.5C5.62082 12.5907 5.85148 12.1693 7.39148 11.5493C8.93148 10.9293 9.47148 10.08 9.54082 9.76933V8.67067C8.60822 7.54371 8.08635 6.13324 8.06082 4.67067C8.06082 1.91867 9.50082 0.5 11.0008 0.5ZM4.00082 15.4093C3.99263 14.6338 4.10417 13.8616 4.33148 13.12C4.53033 12.5113 4.879 11.9624 5.34544 11.5237C5.81188 11.085 6.38111 10.7706 7.00082 10.6093L7.19148 10.5C7.0382 10.3621 6.91829 10.1911 6.84082 10V9.10933C7.23548 8.696 7.55415 8.216 7.78082 7.69067C7.33358 6.75205 7.08829 5.73003 7.06082 4.69067C7.06082 4.2 7.11282 3.71067 7.21148 3.23067C6.75548 2.776 6.14348 2.51467 5.50082 2.5C4.14082 2.5 2.81148 3.64 2.81148 5.91067C2.84838 7.11651 3.32883 8.26637 4.16082 9.14V10.0293C4.10082 10.2693 3.59148 10.9693 2.16082 11.4693C0.731483 11.9693 0.540817 12.32 0.211484 13.06C0.0621503 13.5667 -0.0085164 14.092 0.000816932 14.62C0.000816932 14.62 0.331484 15.4093 4.00082 15.4893V15.4093ZM21.7608 13.06C21.4315 12.32 21.2208 11.9693 19.7608 11.4693C18.3008 10.9693 17.8608 10.2693 17.7608 10.0293V9.14C18.5931 8.26603 19.0736 7.11565 19.1101 5.90933C19.1901 3.66933 17.8408 2.5 16.5008 2.5C16.1806 2.49919 15.8634 2.56248 15.568 2.68613C15.2726 2.80979 15.005 2.99131 14.7808 3.22C14.8821 3.70667 14.9368 4.20267 14.9408 4.7C14.9134 5.73937 14.6681 6.7614 14.2208 7.7C14.4475 8.22533 14.7661 8.70667 15.1608 9.12V10.0107C15.0837 10.2016 14.9643 10.3726 14.8115 10.5107L14.9808 10.5907C15.6043 10.7486 16.1778 11.0614 16.6482 11.5001C17.1185 11.9387 17.4705 12.489 17.6715 13.1C17.8995 13.848 18.0115 14.628 18.0008 15.4093V15.5C21.6608 15.42 22.0008 14.6307 22.0008 14.6307C22.0008 14.0973 21.9208 13.568 21.7608 13.06Z" fill="#9C163A" />
                            </svg>
                        </i>
                        <span>до 3 мест</span>
                    </div>
                    <div class="param">
                        <i>
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.4069 2.5H8.87891V0.5H16.8789V8.5H14.8789V3.856L4.27491 14.572H8.87891V16.572H0.878906V8.5H2.87891V13.14L13.4069 2.5Z" fill="#9C163A" />
                            </svg>
                        </i>
                        <span>53 м²</span>
                    </div>
                </div>
                <div class="link">
                    <a href="">Смотреть</a>
                </div>
            </div>
            <div class="item_room">
                <div class="image">
                    <div class="swiper swiper_slider">
                        <div class="swiper-wrapper">    
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                        </div>
                        <div class="pagination_block"></div>
                    </div>
                </div>
                <div class="name">
                    <a href="">Стандарт с видом на Театр с 2 кроватями "Queen size"</a>
                </div>
                <div class="params">
                    <div class="param">
                        <i>
                            <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11.0008 0.5C12.4608 0.5 13.9408 1.94 13.9408 4.7C13.9154 6.16259 13.3935 7.5731 12.4608 8.7V9.78933C12.5315 10.1 13.0915 10.9493 14.6101 11.5707C16.1301 12.1893 16.3808 12.5707 16.7408 13.52C16.9102 14.1387 16.9981 14.7787 17.0008 15.42C17.0008 15.42 16.5915 16.5 11.9408 16.5H10.0608C5.39148 16.5 5.00082 15.42 5.00082 15.42C5.00082 14.772 5.08882 14.1267 5.26082 13.5C5.62082 12.5907 5.85148 12.1693 7.39148 11.5493C8.93148 10.9293 9.47148 10.08 9.54082 9.76933V8.67067C8.60822 7.54371 8.08635 6.13324 8.06082 4.67067C8.06082 1.91867 9.50082 0.5 11.0008 0.5ZM4.00082 15.4093C3.99263 14.6338 4.10417 13.8616 4.33148 13.12C4.53033 12.5113 4.879 11.9624 5.34544 11.5237C5.81188 11.085 6.38111 10.7706 7.00082 10.6093L7.19148 10.5C7.0382 10.3621 6.91829 10.1911 6.84082 10V9.10933C7.23548 8.696 7.55415 8.216 7.78082 7.69067C7.33358 6.75205 7.08829 5.73003 7.06082 4.69067C7.06082 4.2 7.11282 3.71067 7.21148 3.23067C6.75548 2.776 6.14348 2.51467 5.50082 2.5C4.14082 2.5 2.81148 3.64 2.81148 5.91067C2.84838 7.11651 3.32883 8.26637 4.16082 9.14V10.0293C4.10082 10.2693 3.59148 10.9693 2.16082 11.4693C0.731483 11.9693 0.540817 12.32 0.211484 13.06C0.0621503 13.5667 -0.0085164 14.092 0.000816932 14.62C0.000816932 14.62 0.331484 15.4093 4.00082 15.4893V15.4093ZM21.7608 13.06C21.4315 12.32 21.2208 11.9693 19.7608 11.4693C18.3008 10.9693 17.8608 10.2693 17.7608 10.0293V9.14C18.5931 8.26603 19.0736 7.11565 19.1101 5.90933C19.1901 3.66933 17.8408 2.5 16.5008 2.5C16.1806 2.49919 15.8634 2.56248 15.568 2.68613C15.2726 2.80979 15.005 2.99131 14.7808 3.22C14.8821 3.70667 14.9368 4.20267 14.9408 4.7C14.9134 5.73937 14.6681 6.7614 14.2208 7.7C14.4475 8.22533 14.7661 8.70667 15.1608 9.12V10.0107C15.0837 10.2016 14.9643 10.3726 14.8115 10.5107L14.9808 10.5907C15.6043 10.7486 16.1778 11.0614 16.6482 11.5001C17.1185 11.9387 17.4705 12.489 17.6715 13.1C17.8995 13.848 18.0115 14.628 18.0008 15.4093V15.5C21.6608 15.42 22.0008 14.6307 22.0008 14.6307C22.0008 14.0973 21.9208 13.568 21.7608 13.06Z" fill="#9C163A" />
                            </svg>
                        </i>
                        <span>до 3 мест</span>
                    </div>
                    <div class="param">
                        <i>
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.4069 2.5H8.87891V0.5H16.8789V8.5H14.8789V3.856L4.27491 14.572H8.87891V16.572H0.878906V8.5H2.87891V13.14L13.4069 2.5Z" fill="#9C163A" />
                            </svg>
                        </i>
                        <span>53 м²</span>
                    </div>
                </div>
                <div class="link">
                    <a href="">Смотреть</a>
                </div>
            </div>
            <div class="item_room">
                <div class="image">
                    <div class="swiper swiper_slider">
                        <div class="swiper-wrapper">    
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                        </div>
                        <div class="pagination_block"></div>
                    </div>
                </div>
                <div class="name">
                    <a href="">Стандарт с видом на Театр с 2 кроватями "Queen size"</a>
                </div>
                <div class="params">
                    <div class="param">
                        <i>
                            <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11.0008 0.5C12.4608 0.5 13.9408 1.94 13.9408 4.7C13.9154 6.16259 13.3935 7.5731 12.4608 8.7V9.78933C12.5315 10.1 13.0915 10.9493 14.6101 11.5707C16.1301 12.1893 16.3808 12.5707 16.7408 13.52C16.9102 14.1387 16.9981 14.7787 17.0008 15.42C17.0008 15.42 16.5915 16.5 11.9408 16.5H10.0608C5.39148 16.5 5.00082 15.42 5.00082 15.42C5.00082 14.772 5.08882 14.1267 5.26082 13.5C5.62082 12.5907 5.85148 12.1693 7.39148 11.5493C8.93148 10.9293 9.47148 10.08 9.54082 9.76933V8.67067C8.60822 7.54371 8.08635 6.13324 8.06082 4.67067C8.06082 1.91867 9.50082 0.5 11.0008 0.5ZM4.00082 15.4093C3.99263 14.6338 4.10417 13.8616 4.33148 13.12C4.53033 12.5113 4.879 11.9624 5.34544 11.5237C5.81188 11.085 6.38111 10.7706 7.00082 10.6093L7.19148 10.5C7.0382 10.3621 6.91829 10.1911 6.84082 10V9.10933C7.23548 8.696 7.55415 8.216 7.78082 7.69067C7.33358 6.75205 7.08829 5.73003 7.06082 4.69067C7.06082 4.2 7.11282 3.71067 7.21148 3.23067C6.75548 2.776 6.14348 2.51467 5.50082 2.5C4.14082 2.5 2.81148 3.64 2.81148 5.91067C2.84838 7.11651 3.32883 8.26637 4.16082 9.14V10.0293C4.10082 10.2693 3.59148 10.9693 2.16082 11.4693C0.731483 11.9693 0.540817 12.32 0.211484 13.06C0.0621503 13.5667 -0.0085164 14.092 0.000816932 14.62C0.000816932 14.62 0.331484 15.4093 4.00082 15.4893V15.4093ZM21.7608 13.06C21.4315 12.32 21.2208 11.9693 19.7608 11.4693C18.3008 10.9693 17.8608 10.2693 17.7608 10.0293V9.14C18.5931 8.26603 19.0736 7.11565 19.1101 5.90933C19.1901 3.66933 17.8408 2.5 16.5008 2.5C16.1806 2.49919 15.8634 2.56248 15.568 2.68613C15.2726 2.80979 15.005 2.99131 14.7808 3.22C14.8821 3.70667 14.9368 4.20267 14.9408 4.7C14.9134 5.73937 14.6681 6.7614 14.2208 7.7C14.4475 8.22533 14.7661 8.70667 15.1608 9.12V10.0107C15.0837 10.2016 14.9643 10.3726 14.8115 10.5107L14.9808 10.5907C15.6043 10.7486 16.1778 11.0614 16.6482 11.5001C17.1185 11.9387 17.4705 12.489 17.6715 13.1C17.8995 13.848 18.0115 14.628 18.0008 15.4093V15.5C21.6608 15.42 22.0008 14.6307 22.0008 14.6307C22.0008 14.0973 21.9208 13.568 21.7608 13.06Z" fill="#9C163A" />
                            </svg>
                        </i>
                        <span>до 3 мест</span>
                    </div>
                    <div class="param">
                        <i>
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.4069 2.5H8.87891V0.5H16.8789V8.5H14.8789V3.856L4.27491 14.572H8.87891V16.572H0.878906V8.5H2.87891V13.14L13.4069 2.5Z" fill="#9C163A" />
                            </svg>
                        </i>
                        <span>53 м²</span>
                    </div>
                </div>
                <div class="link">
                    <a href="">Смотреть</a>
                </div>
            </div>
            <div class="item_room">
                <div class="image">
                    <div class="swiper swiper_slider">
                        <div class="swiper-wrapper">    
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                        </div>
                        <div class="pagination_block"></div>
                    </div>
                </div>
                <div class="name">
                    <a href="">Стандарт с видом на Театр с 2 кроватями "Queen size"</a>
                </div>
                <div class="params">
                    <div class="param">
                        <i>
                            <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11.0008 0.5C12.4608 0.5 13.9408 1.94 13.9408 4.7C13.9154 6.16259 13.3935 7.5731 12.4608 8.7V9.78933C12.5315 10.1 13.0915 10.9493 14.6101 11.5707C16.1301 12.1893 16.3808 12.5707 16.7408 13.52C16.9102 14.1387 16.9981 14.7787 17.0008 15.42C17.0008 15.42 16.5915 16.5 11.9408 16.5H10.0608C5.39148 16.5 5.00082 15.42 5.00082 15.42C5.00082 14.772 5.08882 14.1267 5.26082 13.5C5.62082 12.5907 5.85148 12.1693 7.39148 11.5493C8.93148 10.9293 9.47148 10.08 9.54082 9.76933V8.67067C8.60822 7.54371 8.08635 6.13324 8.06082 4.67067C8.06082 1.91867 9.50082 0.5 11.0008 0.5ZM4.00082 15.4093C3.99263 14.6338 4.10417 13.8616 4.33148 13.12C4.53033 12.5113 4.879 11.9624 5.34544 11.5237C5.81188 11.085 6.38111 10.7706 7.00082 10.6093L7.19148 10.5C7.0382 10.3621 6.91829 10.1911 6.84082 10V9.10933C7.23548 8.696 7.55415 8.216 7.78082 7.69067C7.33358 6.75205 7.08829 5.73003 7.06082 4.69067C7.06082 4.2 7.11282 3.71067 7.21148 3.23067C6.75548 2.776 6.14348 2.51467 5.50082 2.5C4.14082 2.5 2.81148 3.64 2.81148 5.91067C2.84838 7.11651 3.32883 8.26637 4.16082 9.14V10.0293C4.10082 10.2693 3.59148 10.9693 2.16082 11.4693C0.731483 11.9693 0.540817 12.32 0.211484 13.06C0.0621503 13.5667 -0.0085164 14.092 0.000816932 14.62C0.000816932 14.62 0.331484 15.4093 4.00082 15.4893V15.4093ZM21.7608 13.06C21.4315 12.32 21.2208 11.9693 19.7608 11.4693C18.3008 10.9693 17.8608 10.2693 17.7608 10.0293V9.14C18.5931 8.26603 19.0736 7.11565 19.1101 5.90933C19.1901 3.66933 17.8408 2.5 16.5008 2.5C16.1806 2.49919 15.8634 2.56248 15.568 2.68613C15.2726 2.80979 15.005 2.99131 14.7808 3.22C14.8821 3.70667 14.9368 4.20267 14.9408 4.7C14.9134 5.73937 14.6681 6.7614 14.2208 7.7C14.4475 8.22533 14.7661 8.70667 15.1608 9.12V10.0107C15.0837 10.2016 14.9643 10.3726 14.8115 10.5107L14.9808 10.5907C15.6043 10.7486 16.1778 11.0614 16.6482 11.5001C17.1185 11.9387 17.4705 12.489 17.6715 13.1C17.8995 13.848 18.0115 14.628 18.0008 15.4093V15.5C21.6608 15.42 22.0008 14.6307 22.0008 14.6307C22.0008 14.0973 21.9208 13.568 21.7608 13.06Z" fill="#9C163A" />
                            </svg>
                        </i>
                        <span>до 3 мест</span>
                    </div>
                    <div class="param">
                        <i>
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.4069 2.5H8.87891V0.5H16.8789V8.5H14.8789V3.856L4.27491 14.572H8.87891V16.572H0.878906V8.5H2.87891V13.14L13.4069 2.5Z" fill="#9C163A" />
                            </svg>
                        </i>
                        <span>53 м²</span>
                    </div>
                </div>
                <div class="link">
                    <a href="">Смотреть</a>
                </div>
            </div>
            <div class="item_room">
                <div class="image">
                    <div class="swiper swiper_slider">
                        <div class="swiper-wrapper">    
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                        </div>
                        <div class="pagination_block"></div>
                    </div>
                </div>
                <div class="name">
                    <a href="">Стандарт с видом на Театр с 2 кроватями "Queen size"</a>
                </div>
                <div class="params">
                    <div class="param">
                        <i>
                            <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11.0008 0.5C12.4608 0.5 13.9408 1.94 13.9408 4.7C13.9154 6.16259 13.3935 7.5731 12.4608 8.7V9.78933C12.5315 10.1 13.0915 10.9493 14.6101 11.5707C16.1301 12.1893 16.3808 12.5707 16.7408 13.52C16.9102 14.1387 16.9981 14.7787 17.0008 15.42C17.0008 15.42 16.5915 16.5 11.9408 16.5H10.0608C5.39148 16.5 5.00082 15.42 5.00082 15.42C5.00082 14.772 5.08882 14.1267 5.26082 13.5C5.62082 12.5907 5.85148 12.1693 7.39148 11.5493C8.93148 10.9293 9.47148 10.08 9.54082 9.76933V8.67067C8.60822 7.54371 8.08635 6.13324 8.06082 4.67067C8.06082 1.91867 9.50082 0.5 11.0008 0.5ZM4.00082 15.4093C3.99263 14.6338 4.10417 13.8616 4.33148 13.12C4.53033 12.5113 4.879 11.9624 5.34544 11.5237C5.81188 11.085 6.38111 10.7706 7.00082 10.6093L7.19148 10.5C7.0382 10.3621 6.91829 10.1911 6.84082 10V9.10933C7.23548 8.696 7.55415 8.216 7.78082 7.69067C7.33358 6.75205 7.08829 5.73003 7.06082 4.69067C7.06082 4.2 7.11282 3.71067 7.21148 3.23067C6.75548 2.776 6.14348 2.51467 5.50082 2.5C4.14082 2.5 2.81148 3.64 2.81148 5.91067C2.84838 7.11651 3.32883 8.26637 4.16082 9.14V10.0293C4.10082 10.2693 3.59148 10.9693 2.16082 11.4693C0.731483 11.9693 0.540817 12.32 0.211484 13.06C0.0621503 13.5667 -0.0085164 14.092 0.000816932 14.62C0.000816932 14.62 0.331484 15.4093 4.00082 15.4893V15.4093ZM21.7608 13.06C21.4315 12.32 21.2208 11.9693 19.7608 11.4693C18.3008 10.9693 17.8608 10.2693 17.7608 10.0293V9.14C18.5931 8.26603 19.0736 7.11565 19.1101 5.90933C19.1901 3.66933 17.8408 2.5 16.5008 2.5C16.1806 2.49919 15.8634 2.56248 15.568 2.68613C15.2726 2.80979 15.005 2.99131 14.7808 3.22C14.8821 3.70667 14.9368 4.20267 14.9408 4.7C14.9134 5.73937 14.6681 6.7614 14.2208 7.7C14.4475 8.22533 14.7661 8.70667 15.1608 9.12V10.0107C15.0837 10.2016 14.9643 10.3726 14.8115 10.5107L14.9808 10.5907C15.6043 10.7486 16.1778 11.0614 16.6482 11.5001C17.1185 11.9387 17.4705 12.489 17.6715 13.1C17.8995 13.848 18.0115 14.628 18.0008 15.4093V15.5C21.6608 15.42 22.0008 14.6307 22.0008 14.6307C22.0008 14.0973 21.9208 13.568 21.7608 13.06Z" fill="#9C163A" />
                            </svg>
                        </i>
                        <span>до 3 мест</span>
                    </div>
                    <div class="param">
                        <i>
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.4069 2.5H8.87891V0.5H16.8789V8.5H14.8789V3.856L4.27491 14.572H8.87891V16.572H0.878906V8.5H2.87891V13.14L13.4069 2.5Z" fill="#9C163A" />
                            </svg>
                        </i>
                        <span>53 м²</span>
                    </div>
                </div>
                <div class="link">
                    <a href="">Смотреть</a>
                </div>
            </div>
            <div class="item_room">
                <div class="image">
                    <div class="swiper swiper_slider">
                        <div class="swiper-wrapper">    
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                        </div>
                        <div class="pagination_block"></div>
                    </div>
                </div>
                <div class="name">
                    <a href="">Стандарт с видом на Театр с 2 кроватями "Queen size"</a>
                </div>
                <div class="params">
                    <div class="param">
                        <i>
                            <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11.0008 0.5C12.4608 0.5 13.9408 1.94 13.9408 4.7C13.9154 6.16259 13.3935 7.5731 12.4608 8.7V9.78933C12.5315 10.1 13.0915 10.9493 14.6101 11.5707C16.1301 12.1893 16.3808 12.5707 16.7408 13.52C16.9102 14.1387 16.9981 14.7787 17.0008 15.42C17.0008 15.42 16.5915 16.5 11.9408 16.5H10.0608C5.39148 16.5 5.00082 15.42 5.00082 15.42C5.00082 14.772 5.08882 14.1267 5.26082 13.5C5.62082 12.5907 5.85148 12.1693 7.39148 11.5493C8.93148 10.9293 9.47148 10.08 9.54082 9.76933V8.67067C8.60822 7.54371 8.08635 6.13324 8.06082 4.67067C8.06082 1.91867 9.50082 0.5 11.0008 0.5ZM4.00082 15.4093C3.99263 14.6338 4.10417 13.8616 4.33148 13.12C4.53033 12.5113 4.879 11.9624 5.34544 11.5237C5.81188 11.085 6.38111 10.7706 7.00082 10.6093L7.19148 10.5C7.0382 10.3621 6.91829 10.1911 6.84082 10V9.10933C7.23548 8.696 7.55415 8.216 7.78082 7.69067C7.33358 6.75205 7.08829 5.73003 7.06082 4.69067C7.06082 4.2 7.11282 3.71067 7.21148 3.23067C6.75548 2.776 6.14348 2.51467 5.50082 2.5C4.14082 2.5 2.81148 3.64 2.81148 5.91067C2.84838 7.11651 3.32883 8.26637 4.16082 9.14V10.0293C4.10082 10.2693 3.59148 10.9693 2.16082 11.4693C0.731483 11.9693 0.540817 12.32 0.211484 13.06C0.0621503 13.5667 -0.0085164 14.092 0.000816932 14.62C0.000816932 14.62 0.331484 15.4093 4.00082 15.4893V15.4093ZM21.7608 13.06C21.4315 12.32 21.2208 11.9693 19.7608 11.4693C18.3008 10.9693 17.8608 10.2693 17.7608 10.0293V9.14C18.5931 8.26603 19.0736 7.11565 19.1101 5.90933C19.1901 3.66933 17.8408 2.5 16.5008 2.5C16.1806 2.49919 15.8634 2.56248 15.568 2.68613C15.2726 2.80979 15.005 2.99131 14.7808 3.22C14.8821 3.70667 14.9368 4.20267 14.9408 4.7C14.9134 5.73937 14.6681 6.7614 14.2208 7.7C14.4475 8.22533 14.7661 8.70667 15.1608 9.12V10.0107C15.0837 10.2016 14.9643 10.3726 14.8115 10.5107L14.9808 10.5907C15.6043 10.7486 16.1778 11.0614 16.6482 11.5001C17.1185 11.9387 17.4705 12.489 17.6715 13.1C17.8995 13.848 18.0115 14.628 18.0008 15.4093V15.5C21.6608 15.42 22.0008 14.6307 22.0008 14.6307C22.0008 14.0973 21.9208 13.568 21.7608 13.06Z" fill="#9C163A" />
                            </svg>
                        </i>
                        <span>до 3 мест</span>
                    </div>
                    <div class="param">
                        <i>
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.4069 2.5H8.87891V0.5H16.8789V8.5H14.8789V3.856L4.27491 14.572H8.87891V16.572H0.878906V8.5H2.87891V13.14L13.4069 2.5Z" fill="#9C163A" />
                            </svg>
                        </i>
                        <span>53 м²</span>
                    </div>
                </div>
                <div class="link">
                    <a href="">Смотреть</a>
                </div>
            </div>
            <div class="item_room">
                <div class="image">
                    <div class="swiper swiper_slider">
                        <div class="swiper-wrapper">    
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                        </div>
                        <div class="pagination_block"></div>
                    </div>
                </div>
                <div class="name">
                    <a href="">Стандарт с видом на Театр с 2 кроватями "Queen size"</a>
                </div>
                <div class="params">
                    <div class="param">
                        <i>
                            <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11.0008 0.5C12.4608 0.5 13.9408 1.94 13.9408 4.7C13.9154 6.16259 13.3935 7.5731 12.4608 8.7V9.78933C12.5315 10.1 13.0915 10.9493 14.6101 11.5707C16.1301 12.1893 16.3808 12.5707 16.7408 13.52C16.9102 14.1387 16.9981 14.7787 17.0008 15.42C17.0008 15.42 16.5915 16.5 11.9408 16.5H10.0608C5.39148 16.5 5.00082 15.42 5.00082 15.42C5.00082 14.772 5.08882 14.1267 5.26082 13.5C5.62082 12.5907 5.85148 12.1693 7.39148 11.5493C8.93148 10.9293 9.47148 10.08 9.54082 9.76933V8.67067C8.60822 7.54371 8.08635 6.13324 8.06082 4.67067C8.06082 1.91867 9.50082 0.5 11.0008 0.5ZM4.00082 15.4093C3.99263 14.6338 4.10417 13.8616 4.33148 13.12C4.53033 12.5113 4.879 11.9624 5.34544 11.5237C5.81188 11.085 6.38111 10.7706 7.00082 10.6093L7.19148 10.5C7.0382 10.3621 6.91829 10.1911 6.84082 10V9.10933C7.23548 8.696 7.55415 8.216 7.78082 7.69067C7.33358 6.75205 7.08829 5.73003 7.06082 4.69067C7.06082 4.2 7.11282 3.71067 7.21148 3.23067C6.75548 2.776 6.14348 2.51467 5.50082 2.5C4.14082 2.5 2.81148 3.64 2.81148 5.91067C2.84838 7.11651 3.32883 8.26637 4.16082 9.14V10.0293C4.10082 10.2693 3.59148 10.9693 2.16082 11.4693C0.731483 11.9693 0.540817 12.32 0.211484 13.06C0.0621503 13.5667 -0.0085164 14.092 0.000816932 14.62C0.000816932 14.62 0.331484 15.4093 4.00082 15.4893V15.4093ZM21.7608 13.06C21.4315 12.32 21.2208 11.9693 19.7608 11.4693C18.3008 10.9693 17.8608 10.2693 17.7608 10.0293V9.14C18.5931 8.26603 19.0736 7.11565 19.1101 5.90933C19.1901 3.66933 17.8408 2.5 16.5008 2.5C16.1806 2.49919 15.8634 2.56248 15.568 2.68613C15.2726 2.80979 15.005 2.99131 14.7808 3.22C14.8821 3.70667 14.9368 4.20267 14.9408 4.7C14.9134 5.73937 14.6681 6.7614 14.2208 7.7C14.4475 8.22533 14.7661 8.70667 15.1608 9.12V10.0107C15.0837 10.2016 14.9643 10.3726 14.8115 10.5107L14.9808 10.5907C15.6043 10.7486 16.1778 11.0614 16.6482 11.5001C17.1185 11.9387 17.4705 12.489 17.6715 13.1C17.8995 13.848 18.0115 14.628 18.0008 15.4093V15.5C21.6608 15.42 22.0008 14.6307 22.0008 14.6307C22.0008 14.0973 21.9208 13.568 21.7608 13.06Z" fill="#9C163A" />
                            </svg>
                        </i>
                        <span>до 3 мест</span>
                    </div>
                    <div class="param">
                        <i>
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.4069 2.5H8.87891V0.5H16.8789V8.5H14.8789V3.856L4.27491 14.572H8.87891V16.572H0.878906V8.5H2.87891V13.14L13.4069 2.5Z" fill="#9C163A" />
                            </svg>
                        </i>
                        <span>53 м²</span>
                    </div>
                </div>
                <div class="link">
                    <a href="">Смотреть</a>
                </div>
            </div>
            <div class="item_room">
                <div class="image">
                    <div class="swiper swiper_slider">
                        <div class="swiper-wrapper">    
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                        </div>
                        <div class="pagination_block"></div>
                    </div>
                </div>
                <div class="name">
                    <a href="">Стандарт с видом на Театр с 2 кроватями "Queen size"</a>
                </div>
                <div class="params">
                    <div class="param">
                        <i>
                            <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11.0008 0.5C12.4608 0.5 13.9408 1.94 13.9408 4.7C13.9154 6.16259 13.3935 7.5731 12.4608 8.7V9.78933C12.5315 10.1 13.0915 10.9493 14.6101 11.5707C16.1301 12.1893 16.3808 12.5707 16.7408 13.52C16.9102 14.1387 16.9981 14.7787 17.0008 15.42C17.0008 15.42 16.5915 16.5 11.9408 16.5H10.0608C5.39148 16.5 5.00082 15.42 5.00082 15.42C5.00082 14.772 5.08882 14.1267 5.26082 13.5C5.62082 12.5907 5.85148 12.1693 7.39148 11.5493C8.93148 10.9293 9.47148 10.08 9.54082 9.76933V8.67067C8.60822 7.54371 8.08635 6.13324 8.06082 4.67067C8.06082 1.91867 9.50082 0.5 11.0008 0.5ZM4.00082 15.4093C3.99263 14.6338 4.10417 13.8616 4.33148 13.12C4.53033 12.5113 4.879 11.9624 5.34544 11.5237C5.81188 11.085 6.38111 10.7706 7.00082 10.6093L7.19148 10.5C7.0382 10.3621 6.91829 10.1911 6.84082 10V9.10933C7.23548 8.696 7.55415 8.216 7.78082 7.69067C7.33358 6.75205 7.08829 5.73003 7.06082 4.69067C7.06082 4.2 7.11282 3.71067 7.21148 3.23067C6.75548 2.776 6.14348 2.51467 5.50082 2.5C4.14082 2.5 2.81148 3.64 2.81148 5.91067C2.84838 7.11651 3.32883 8.26637 4.16082 9.14V10.0293C4.10082 10.2693 3.59148 10.9693 2.16082 11.4693C0.731483 11.9693 0.540817 12.32 0.211484 13.06C0.0621503 13.5667 -0.0085164 14.092 0.000816932 14.62C0.000816932 14.62 0.331484 15.4093 4.00082 15.4893V15.4093ZM21.7608 13.06C21.4315 12.32 21.2208 11.9693 19.7608 11.4693C18.3008 10.9693 17.8608 10.2693 17.7608 10.0293V9.14C18.5931 8.26603 19.0736 7.11565 19.1101 5.90933C19.1901 3.66933 17.8408 2.5 16.5008 2.5C16.1806 2.49919 15.8634 2.56248 15.568 2.68613C15.2726 2.80979 15.005 2.99131 14.7808 3.22C14.8821 3.70667 14.9368 4.20267 14.9408 4.7C14.9134 5.73937 14.6681 6.7614 14.2208 7.7C14.4475 8.22533 14.7661 8.70667 15.1608 9.12V10.0107C15.0837 10.2016 14.9643 10.3726 14.8115 10.5107L14.9808 10.5907C15.6043 10.7486 16.1778 11.0614 16.6482 11.5001C17.1185 11.9387 17.4705 12.489 17.6715 13.1C17.8995 13.848 18.0115 14.628 18.0008 15.4093V15.5C21.6608 15.42 22.0008 14.6307 22.0008 14.6307C22.0008 14.0973 21.9208 13.568 21.7608 13.06Z" fill="#9C163A" />
                            </svg>
                        </i>
                        <span>до 3 мест</span>
                    </div>
                    <div class="param">
                        <i>
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.4069 2.5H8.87891V0.5H16.8789V8.5H14.8789V3.856L4.27491 14.572H8.87891V16.572H0.878906V8.5H2.87891V13.14L13.4069 2.5Z" fill="#9C163A" />
                            </svg>
                        </i>
                        <span>53 м²</span>
                    </div>
                </div>
                <div class="link">
                    <a href="">Смотреть</a>
                </div>
            </div>
            <div class="item_room">
                <div class="image">
                    <div class="swiper swiper_slider">
                        <div class="swiper-wrapper">    
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                        </div>
                        <div class="pagination_block"></div>
                    </div>
                </div>
                <div class="name">
                    <a href="">Стандарт с видом на Театр с 2 кроватями "Queen size"</a>
                </div>
                <div class="params">
                    <div class="param">
                        <i>
                            <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11.0008 0.5C12.4608 0.5 13.9408 1.94 13.9408 4.7C13.9154 6.16259 13.3935 7.5731 12.4608 8.7V9.78933C12.5315 10.1 13.0915 10.9493 14.6101 11.5707C16.1301 12.1893 16.3808 12.5707 16.7408 13.52C16.9102 14.1387 16.9981 14.7787 17.0008 15.42C17.0008 15.42 16.5915 16.5 11.9408 16.5H10.0608C5.39148 16.5 5.00082 15.42 5.00082 15.42C5.00082 14.772 5.08882 14.1267 5.26082 13.5C5.62082 12.5907 5.85148 12.1693 7.39148 11.5493C8.93148 10.9293 9.47148 10.08 9.54082 9.76933V8.67067C8.60822 7.54371 8.08635 6.13324 8.06082 4.67067C8.06082 1.91867 9.50082 0.5 11.0008 0.5ZM4.00082 15.4093C3.99263 14.6338 4.10417 13.8616 4.33148 13.12C4.53033 12.5113 4.879 11.9624 5.34544 11.5237C5.81188 11.085 6.38111 10.7706 7.00082 10.6093L7.19148 10.5C7.0382 10.3621 6.91829 10.1911 6.84082 10V9.10933C7.23548 8.696 7.55415 8.216 7.78082 7.69067C7.33358 6.75205 7.08829 5.73003 7.06082 4.69067C7.06082 4.2 7.11282 3.71067 7.21148 3.23067C6.75548 2.776 6.14348 2.51467 5.50082 2.5C4.14082 2.5 2.81148 3.64 2.81148 5.91067C2.84838 7.11651 3.32883 8.26637 4.16082 9.14V10.0293C4.10082 10.2693 3.59148 10.9693 2.16082 11.4693C0.731483 11.9693 0.540817 12.32 0.211484 13.06C0.0621503 13.5667 -0.0085164 14.092 0.000816932 14.62C0.000816932 14.62 0.331484 15.4093 4.00082 15.4893V15.4093ZM21.7608 13.06C21.4315 12.32 21.2208 11.9693 19.7608 11.4693C18.3008 10.9693 17.8608 10.2693 17.7608 10.0293V9.14C18.5931 8.26603 19.0736 7.11565 19.1101 5.90933C19.1901 3.66933 17.8408 2.5 16.5008 2.5C16.1806 2.49919 15.8634 2.56248 15.568 2.68613C15.2726 2.80979 15.005 2.99131 14.7808 3.22C14.8821 3.70667 14.9368 4.20267 14.9408 4.7C14.9134 5.73937 14.6681 6.7614 14.2208 7.7C14.4475 8.22533 14.7661 8.70667 15.1608 9.12V10.0107C15.0837 10.2016 14.9643 10.3726 14.8115 10.5107L14.9808 10.5907C15.6043 10.7486 16.1778 11.0614 16.6482 11.5001C17.1185 11.9387 17.4705 12.489 17.6715 13.1C17.8995 13.848 18.0115 14.628 18.0008 15.4093V15.5C21.6608 15.42 22.0008 14.6307 22.0008 14.6307C22.0008 14.0973 21.9208 13.568 21.7608 13.06Z" fill="#9C163A" />
                            </svg>
                        </i>
                        <span>до 3 мест</span>
                    </div>
                    <div class="param">
                        <i>
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.4069 2.5H8.87891V0.5H16.8789V8.5H14.8789V3.856L4.27491 14.572H8.87891V16.572H0.878906V8.5H2.87891V13.14L13.4069 2.5Z" fill="#9C163A" />
                            </svg>
                        </i>
                        <span>53 м²</span>
                    </div>
                </div>
                <div class="link">
                    <a href="">Смотреть</a>
                </div>
            </div>
            <div class="item_room">
                <div class="image">
                    <div class="swiper swiper_slider">
                        <div class="swiper-wrapper">    
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                        </div>
                        <div class="pagination_block"></div>
                    </div>
                </div>
                <div class="name">
                    <a href="">Стандарт с видом на Театр с 2 кроватями "Queen size"</a>
                </div>
                <div class="params">
                    <div class="param">
                        <i>
                            <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11.0008 0.5C12.4608 0.5 13.9408 1.94 13.9408 4.7C13.9154 6.16259 13.3935 7.5731 12.4608 8.7V9.78933C12.5315 10.1 13.0915 10.9493 14.6101 11.5707C16.1301 12.1893 16.3808 12.5707 16.7408 13.52C16.9102 14.1387 16.9981 14.7787 17.0008 15.42C17.0008 15.42 16.5915 16.5 11.9408 16.5H10.0608C5.39148 16.5 5.00082 15.42 5.00082 15.42C5.00082 14.772 5.08882 14.1267 5.26082 13.5C5.62082 12.5907 5.85148 12.1693 7.39148 11.5493C8.93148 10.9293 9.47148 10.08 9.54082 9.76933V8.67067C8.60822 7.54371 8.08635 6.13324 8.06082 4.67067C8.06082 1.91867 9.50082 0.5 11.0008 0.5ZM4.00082 15.4093C3.99263 14.6338 4.10417 13.8616 4.33148 13.12C4.53033 12.5113 4.879 11.9624 5.34544 11.5237C5.81188 11.085 6.38111 10.7706 7.00082 10.6093L7.19148 10.5C7.0382 10.3621 6.91829 10.1911 6.84082 10V9.10933C7.23548 8.696 7.55415 8.216 7.78082 7.69067C7.33358 6.75205 7.08829 5.73003 7.06082 4.69067C7.06082 4.2 7.11282 3.71067 7.21148 3.23067C6.75548 2.776 6.14348 2.51467 5.50082 2.5C4.14082 2.5 2.81148 3.64 2.81148 5.91067C2.84838 7.11651 3.32883 8.26637 4.16082 9.14V10.0293C4.10082 10.2693 3.59148 10.9693 2.16082 11.4693C0.731483 11.9693 0.540817 12.32 0.211484 13.06C0.0621503 13.5667 -0.0085164 14.092 0.000816932 14.62C0.000816932 14.62 0.331484 15.4093 4.00082 15.4893V15.4093ZM21.7608 13.06C21.4315 12.32 21.2208 11.9693 19.7608 11.4693C18.3008 10.9693 17.8608 10.2693 17.7608 10.0293V9.14C18.5931 8.26603 19.0736 7.11565 19.1101 5.90933C19.1901 3.66933 17.8408 2.5 16.5008 2.5C16.1806 2.49919 15.8634 2.56248 15.568 2.68613C15.2726 2.80979 15.005 2.99131 14.7808 3.22C14.8821 3.70667 14.9368 4.20267 14.9408 4.7C14.9134 5.73937 14.6681 6.7614 14.2208 7.7C14.4475 8.22533 14.7661 8.70667 15.1608 9.12V10.0107C15.0837 10.2016 14.9643 10.3726 14.8115 10.5107L14.9808 10.5907C15.6043 10.7486 16.1778 11.0614 16.6482 11.5001C17.1185 11.9387 17.4705 12.489 17.6715 13.1C17.8995 13.848 18.0115 14.628 18.0008 15.4093V15.5C21.6608 15.42 22.0008 14.6307 22.0008 14.6307C22.0008 14.0973 21.9208 13.568 21.7608 13.06Z" fill="#9C163A" />
                            </svg>
                        </i>
                        <span>до 3 мест</span>
                    </div>
                    <div class="param">
                        <i>
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.4069 2.5H8.87891V0.5H16.8789V8.5H14.8789V3.856L4.27491 14.572H8.87891V16.572H0.878906V8.5H2.87891V13.14L13.4069 2.5Z" fill="#9C163A" />
                            </svg>
                        </i>
                        <span>53 м²</span>
                    </div>
                </div>
                <div class="link">
                    <a href="">Смотреть</a>
                </div>
            </div>
            <div class="item_room">
                <div class="image">
                    <div class="swiper swiper_slider">
                        <div class="swiper-wrapper">    
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                        </div>
                        <div class="pagination_block"></div>
                    </div>
                </div>
                <div class="name">
                    <a href="">Стандарт с видом на Театр с 2 кроватями "Queen size"</a>
                </div>
                <div class="params">
                    <div class="param">
                        <i>
                            <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M11.0008 0.5C12.4608 0.5 13.9408 1.94 13.9408 4.7C13.9154 6.16259 13.3935 7.5731 12.4608 8.7V9.78933C12.5315 10.1 13.0915 10.9493 14.6101 11.5707C16.1301 12.1893 16.3808 12.5707 16.7408 13.52C16.9102 14.1387 16.9981 14.7787 17.0008 15.42C17.0008 15.42 16.5915 16.5 11.9408 16.5H10.0608C5.39148 16.5 5.00082 15.42 5.00082 15.42C5.00082 14.772 5.08882 14.1267 5.26082 13.5C5.62082 12.5907 5.85148 12.1693 7.39148 11.5493C8.93148 10.9293 9.47148 10.08 9.54082 9.76933V8.67067C8.60822 7.54371 8.08635 6.13324 8.06082 4.67067C8.06082 1.91867 9.50082 0.5 11.0008 0.5ZM4.00082 15.4093C3.99263 14.6338 4.10417 13.8616 4.33148 13.12C4.53033 12.5113 4.879 11.9624 5.34544 11.5237C5.81188 11.085 6.38111 10.7706 7.00082 10.6093L7.19148 10.5C7.0382 10.3621 6.91829 10.1911 6.84082 10V9.10933C7.23548 8.696 7.55415 8.216 7.78082 7.69067C7.33358 6.75205 7.08829 5.73003 7.06082 4.69067C7.06082 4.2 7.11282 3.71067 7.21148 3.23067C6.75548 2.776 6.14348 2.51467 5.50082 2.5C4.14082 2.5 2.81148 3.64 2.81148 5.91067C2.84838 7.11651 3.32883 8.26637 4.16082 9.14V10.0293C4.10082 10.2693 3.59148 10.9693 2.16082 11.4693C0.731483 11.9693 0.540817 12.32 0.211484 13.06C0.0621503 13.5667 -0.0085164 14.092 0.000816932 14.62C0.000816932 14.62 0.331484 15.4093 4.00082 15.4893V15.4093ZM21.7608 13.06C21.4315 12.32 21.2208 11.9693 19.7608 11.4693C18.3008 10.9693 17.8608 10.2693 17.7608 10.0293V9.14C18.5931 8.26603 19.0736 7.11565 19.1101 5.90933C19.1901 3.66933 17.8408 2.5 16.5008 2.5C16.1806 2.49919 15.8634 2.56248 15.568 2.68613C15.2726 2.80979 15.005 2.99131 14.7808 3.22C14.8821 3.70667 14.9368 4.20267 14.9408 4.7C14.9134 5.73937 14.6681 6.7614 14.2208 7.7C14.4475 8.22533 14.7661 8.70667 15.1608 9.12V10.0107C15.0837 10.2016 14.9643 10.3726 14.8115 10.5107L14.9808 10.5907C15.6043 10.7486 16.1778 11.0614 16.6482 11.5001C17.1185 11.9387 17.4705 12.489 17.6715 13.1C17.8995 13.848 18.0115 14.628 18.0008 15.4093V15.5C21.6608 15.42 22.0008 14.6307 22.0008 14.6307C22.0008 14.0973 21.9208 13.568 21.7608 13.06Z" fill="#9C163A" />
                            </svg>
                        </i>
                        <span>до 3 мест</span>
                    </div>
                    <div class="param">
                        <i>
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.4069 2.5H8.87891V0.5H16.8789V8.5H14.8789V3.856L4.27491 14.572H8.87891V16.572H0.878906V8.5H2.87891V13.14L13.4069 2.5Z" fill="#9C163A" />
                            </svg>
                        </i>
                        <span>53 м²</span>
                    </div>
                </div>
                <div class="link">
                    <a href="">Смотреть</a>
                </div>
            </div>
        </div>                  
    </section>
    <section class="list_number_page announces-block block-padding" data-scroll-section>
        <div class="announces-block__inner block-width">
            <div class="announces-block__header">
                <div class="announces-block__header_title">Специальные предложения</div>
                <div class="announces-block__nav">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                <div class="announces-block__btn">
                    <a href="#" class="button button-primary-bordered"><span>Все события</span></a>
                </div>
            </div>
            <div class="announces-block__slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="announces-block__slider-item swiper-slide">
                            <div class="item-header">
                                <div class="item-btn">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white"/><path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white"/></svg>
                                    </a>
                                </div>
                                <div class="item-date">12-25 июля</div>
                            </div>
                            <div class="item-title">Винный ужин</div>
                            <div class="item-body">
                                <img src="include/images/announce_sl1.png" alt="announce_sl2">
                            </div>
                        </div>
                        <div class="announces-block__slider-item swiper-slide with_line">
                            <div class="item-header">
                                <div class="item-btn">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white"/><path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white"/></svg>
                                    </a>
                                </div>
                                <div class="item-date">11-14 июля</div>
                            </div>
                            <div class="item-title">Мероприятие в честь дня рождения отеля</div>
                            <div class="item-body">
                                <img src="include/images/announce_sl2.png" alt="announce_sl2">
                            </div>
                        </div>
                        <div class="announces-block__slider-item swiper-slide">
                            <div class="item-header">
                                <div class="item-btn">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white"/><path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white"/></svg>
                                    </a>
                                </div>
                                <div class="item-date">12-25 июля</div>
                            </div>
                            <div class="item-title">Винный ужин</div>
                            <div class="item-body">
                                <img src="include/images/announce_sl1.png" alt="announce_sl2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

include _footer.jade