include _inner_header.jade
<div class="path_block_wr animation_block">
    <div class="block-padding">
        <a href="">Главная</a><span>/</span><a href="">Номера</a><span>/</span>Стандарт с видом на Театр с 2 кроватями «Queen size»
    </div>
</div>
<div class="page_title number_card_page animation_block">
    <div class="block-padding">
        <h1>Стандарт с видом на Театр с 2 кроватями «Queen size»</h1>
    </div>
</div>
<div class="content_main_block">
    <div class="block-padding number_card_page">
        <div class="card_top">
            <div class="left_images animation_block">
                <a href="" class="video_btn"></a>
                <div class="label">
                    <div class="icon">
                        <img src="include/images/3d.svg" alt="">
                    </div>
                    <div class="name">3D - тур</div>
                </div>
                <div class="swiper_card_slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">    
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                            <div class="img swiper-slide">
                                <img src="include/images/number.jpg" alt="">
                            </div>
                        </div>
                        <div class="pagination_block"></div>
                    </div>
                </div>
                <div class="text"><span>*</span>Номера на фото могут не полностью соответствовать забронированным номерам.</div>
                <section class="card_form">
                    <form >
                        <div class="reservation-block__form">
                            <div class="reservation-block__form-item item-input">
                                <div class="item-title">Заезд</div>
                                <div class="item-value">
                                    <input type="text" class="zaezd">
                                </div>
                            </div>
                            <div class="reservation-block__form-item item-input">
                                <div class="item-title">Выезд</div>
                                <div class="item-value">
                                    <input type="text" class="viezd">
                                </div>
                            </div>
                            <div class="reservation-block__form-item item-input">
                                <div class="item-title">Гости</div>
                                <div class="item-value">
                                    <input type="text" class="guests">
                                </div>
                            </div>
                            <div class="reservation-block__form-item item-button">
                                <button class="button button-primary"><span>Забронировать</span></button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="right_card animation_block">
                <div class="desc">
                    <div class="name">О номере</div>
                    <div class="body">Уютный номер с видом во двор площадью 30 кв. м. с двумя кроватями оснащен всем необходимым для комфортного пребывания вне зависимости от продолжительности поездки. Размер каждой кровати 1,4*2,0 м., что позволяет полноценно и с удобством размещать на ней  двоих взрослых.</div>
                </div>
                <div class="params">
                    <div class="name">Параметры номера</div>
                    <ul>
                        <li>
                            <div class="icon">
                                <img src="include/images/param1.svg" alt="">
                            </div>
                            <div class="param">53м<sup>2</sup></div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="include/images/param2.svg" alt="">
                            </div>
                            <div class="param">до 3 мест</div>
                        </li>
                    </ul>
                </div>
                <div class="params">
                    <div class="name">Всё для комфортного проживания:</div>
                    <ul>
                        <li>
                            <div class="icon">
                                <img src="include/images/param3.svg" alt="">
                            </div>
                            <div class="param">Wi-fi</div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="include/images/param4.svg" alt="">
                            </div>
                            <div class="param">Спутниковое ТВ</div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="include/images/param5.svg" alt="">
                            </div>
                            <div class="param">Микроволновая печь</div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="include/images/param6.svg" alt="">
                            </div>
                            <div class="param">Ванная</div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="include/images/param7.svg" alt="">
                            </div>
                            <div class="param">Гардероб</div>
                        </li>
                    </ul>
                </div>
                <div class="card_accor_block">
                    <div class="accor_block">
                        <div class="accor_name">Особенности номера</div>
                        <div class="accor_body">
                            <h2>Кровати и постельное белье</h2>
                            <ul>
                                <li>Максимальная вместимость: <strong>2</strong></li>
                                <li>1 двуспальная кровать (King)</li>
                                <li>Есть раскладные кровати: <strong>1 / 1,500 рублей в сутки</strong></li>
                                <li>Есть детские кроватки: <strong>1</strong></li>
                                <li>Количество раскладных/детских кроваток: <strong>1</strong></li>
                                <li>Полный комплект постельного белья</li>
                            </ul>
                            <h2>Характеристики ванны и ванной комнаты</h2>
                            <ul>
                                <li>Зеркало c подсветкой</li>
                                <li>Фен</li>
                                <li>Халат </li>
                                <li>Тапочки</li>
                                <li>Набор полотенец</li>
                                <li>Набор косметики для душа</li>
                            </ul>
                            <h2>Мебель и оборудование</h2>
                            <ul>
                                <li>Кресло</li>
                                <li>Будильник</li>
                                <li>Сейф в номере</li>
                                <li>Письменный стол для письма/работы, с эргономичным креслом</li>
                                <li>Утюг и гладильная доска</li>
                                <li>Полный комплект постельного белья</li>
                            </ul>
                            <h2>Еда и напитки</h2>
                            <ul>
                                <li>Обслуживание в номере, круглосуточно</li>
                                <li>Бесплатная вода в бутылках</li>
                                <li>Набор для кофе и чая</li>
                                <li>Мини-бар за дополнительную оплату</li>
                            </ul>
                            <h2>Характеристики кухни</h2>
                            <ul>
                                <li>Мини-холодильник</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accor_block">
                        <div class="accor_name">Комфортабельность номера</div>
                        <div class="accor_body">
                            <h2>Кровати и постельное белье</h2>
                            <ul>
                                <li>Максимальная вместимость: <strong>2</strong></li>
                                <li>1 двуспальная кровать (King)</li>
                                <li>Есть раскладные кровати: <strong>1 / 1,500 рублей в сутки</strong></li>
                                <li>Есть детские кроватки: <strong>1</strong></li>
                                <li>Количество раскладных/детских кроваток: <strong>1</strong></li>
                                <li>Полный комплект постельного белья</li>
                            </ul>
                            <h2>Характеристики ванны и ванной комнаты</h2>
                            <ul>
                                <li>Зеркало c подсветкой</li>
                                <li>Фен</li>
                                <li>Халат </li>
                                <li>Тапочки</li>
                                <li>Набор полотенец</li>
                                <li>Набор косметики для душа</li>
                            </ul>
                            <h2>Мебель и оборудование</h2>
                            <ul>
                                <li>Кресло</li>
                                <li>Будильник</li>
                                <li>Сейф в номере</li>
                                <li>Письменный стол для письма/работы, с эргономичным креслом</li>
                                <li>Утюг и гладильная доска</li>
                                <li>Полный комплект постельного белья</li>
                            </ul>
                            <h2>Еда и напитки</h2>
                            <ul>
                                <li>Обслуживание в номере, круглосуточно</li>
                                <li>Бесплатная вода в бутылках</li>
                                <li>Набор для кофе и чая</li>
                                <li>Мини-бар за дополнительную оплату</li>
                            </ul>
                            <h2>Характеристики кухни</h2>
                            <ul>
                                <li>Мини-холодильник</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accor_block">
                        <div class="accor_name">Полезная информация</div>
                        <div class="accor_body">
                            <h2>Кровати и постельное белье</h2>
                            <ul>
                                <li>Максимальная вместимость: <strong>2</strong></li>
                                <li>1 двуспальная кровать (King)</li>
                                <li>Есть раскладные кровати: <strong>1 / 1,500 рублей в сутки</strong></li>
                                <li>Есть детские кроватки: <strong>1</strong></li>
                                <li>Количество раскладных/детских кроваток: <strong>1</strong></li>
                                <li>Полный комплект постельного белья</li>
                            </ul>
                            <h2>Характеристики ванны и ванной комнаты</h2>
                            <ul>
                                <li>Зеркало c подсветкой</li>
                                <li>Фен</li>
                                <li>Халат </li>
                                <li>Тапочки</li>
                                <li>Набор полотенец</li>
                                <li>Набор косметики для душа</li>
                            </ul>
                            <h2>Мебель и оборудование</h2>
                            <ul>
                                <li>Кресло</li>
                                <li>Будильник</li>
                                <li>Сейф в номере</li>
                                <li>Письменный стол для письма/работы, с эргономичным креслом</li>
                                <li>Утюг и гладильная доска</li>
                                <li>Полный комплект постельного белья</li>
                            </ul>
                            <h2>Еда и напитки</h2>
                            <ul>
                                <li>Обслуживание в номере, круглосуточно</li>
                                <li>Бесплатная вода в бутылках</li>
                                <li>Набор для кофе и чая</li>
                                <li>Мини-бар за дополнительную оплату</li>
                            </ul>
                            <h2>Характеристики кухни</h2>
                            <ul>
                                <li>Мини-холодильник</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <div class="review_slider_wrapper animation_block">
            <div class="title_slider_block">
                <div class="title">Отзывы о номере</div>
                <div class="arrow__nav">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="swiper swiper_review_slider">
                <div class="swiper-wrapper">    
                    <div class="review swiper-slide">
                        <div class="review_top">
                            <div class="date">19 января 2024</div>
                            <div class="name">Александра Петрова</div>
                            <div class="stars"><div class="stars_inner" style="width: 80%;"></div></div>
                            <div class="icon">
                                <img src="include/images/review1.svg" alt="">
                            </div>
                        </div>
                        <div class="body">
                            <p>Потрясающий сервис! На Алтае редко встретишь такое внимание к гостям! Ресторан еще не работает,но всю еду по меню привозят куда попросишь,будь то номер,беседка у реки,либо у домика.</p>
                            <p>По запросу привозят дрова и разжигают костер в беседках. Все очень дружелюбные. Мы очень довольн.....</p>
                        </div>
                        <div class="bottom"><a href="" class="link">Читать весь отзыв</a></div>
                    </div>
                    <div class="review swiper-slide">
                        <div class="review_top">
                            <div class="date">19 января 2024</div>
                            <div class="name">Александра Петрова</div>
                            <div class="stars"><div class="stars_inner" style="width: 80%;"></div></div>
                            <div class="icon">
                                <img src="include/images/review1.svg" alt="">
                            </div>
                        </div>
                        <div class="body">
                            <p>Потрясающий сервис! На Алтае редко встретишь такое внимание к гостям! Ресторан еще не работает,но всю еду по меню привозят куда попросишь,будь то номер,беседка у реки,либо у домика.</p>
                            <p>По запросу привозят дрова и разжигают костер в беседках. Все очень дружелюбные. Мы очень довольн.....</p>
                        </div>
                        <div class="bottom"><a href="" class="link">Читать весь отзыв</a></div>
                    </div>
                    <div class="review swiper-slide">
                        <div class="review_top">
                            <div class="date">19 января 2024</div>
                            <div class="name">Александра Петрова</div>
                            <div class="stars"><div class="stars_inner" style="width: 80%;"></div></div>
                            <div class="icon">
                                <img src="include/images/review1.svg" alt="">
                            </div>
                        </div>
                        <div class="body">
                            <p>Потрясающий сервис! На Алтае редко встретишь такое внимание к гостям! Ресторан еще не работает,но всю еду по меню привозят куда попросишь,будь то номер,беседка у реки,либо у домика.</p>
                            <p>По запросу привозят дрова и разжигают костер в беседках. Все очень дружелюбные. Мы очень довольн.....</p>
                        </div>
                        <div class="bottom"><a href="" class="link">Читать весь отзыв</a></div>
                    </div>
                    <div class="review swiper-slide">
                        <div class="review_top">
                            <div class="date">19 января 2024</div>
                            <div class="name">Александра Петрова</div>
                            <div class="stars"><div class="stars_inner" style="width: 80%;"></div></div>
                            <div class="icon">
                                <img src="include/images/review1.svg" alt="">
                            </div>
                        </div>
                        <div class="body">
                            <p>Потрясающий сервис! На Алтае редко встретишь такое внимание к гостям! Ресторан еще не работает,но всю еду по меню привозят куда попросишь,будь то номер,беседка у реки,либо у домика.</p>
                            <p>По запросу привозят дрова и разжигают костер в беседках. Все очень дружелюбные. Мы очень довольн.....</p>
                        </div>
                        <div class="bottom"><a href="" class="link">Читать весь отзыв</a></div>
                    </div>
                </div>
            </div>
        </div>                                                    
        <div class="rooms_slider_wrapper animation_block">
            <div class="title_slider_block">
                <div class="title">Другие номера</div>
                <div class="arrow__nav">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="swiper swiper_slider_room">
                <div class="swiper-wrapper">    
                    <div class="item_room swiper-slide">
                        <div class="image">
                            <img src="include/images/number.jpg" alt="">
                        </div>
                        <div class="name">
                            <a href="">Стандарт с видом на Театр с 2 кроватями "Queen size"</a>
                        </div>
                        <div class="params">
                            <div class="param">
                                <i>
                                    <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M11.0008 0.5C12.4608 0.5 13.9408 1.94 13.9408 4.7C13.9154 6.16259 13.3935 7.5731 12.4608 8.7V9.78933C12.5315 10.1 13.0915 10.9493 14.6101 11.5707C16.1301 12.1893 16.3808 12.5707 16.7408 13.52C16.9102 14.1387 16.9981 14.7787 17.0008 15.42C17.0008 15.42 16.5915 16.5 11.9408 16.5H10.0608C5.39148 16.5 5.00082 15.42 5.00082 15.42C5.00082 14.772 5.08882 14.1267 5.26082 13.5C5.62082 12.5907 5.85148 12.1693 7.39148 11.5493C8.93148 10.9293 9.47148 10.08 9.54082 9.76933V8.67067C8.60822 7.54371 8.08635 6.13324 8.06082 4.67067C8.06082 1.91867 9.50082 0.5 11.0008 0.5ZM4.00082 15.4093C3.99263 14.6338 4.10417 13.8616 4.33148 13.12C4.53033 12.5113 4.879 11.9624 5.34544 11.5237C5.81188 11.085 6.38111 10.7706 7.00082 10.6093L7.19148 10.5C7.0382 10.3621 6.91829 10.1911 6.84082 10V9.10933C7.23548 8.696 7.55415 8.216 7.78082 7.69067C7.33358 6.75205 7.08829 5.73003 7.06082 4.69067C7.06082 4.2 7.11282 3.71067 7.21148 3.23067C6.75548 2.776 6.14348 2.51467 5.50082 2.5C4.14082 2.5 2.81148 3.64 2.81148 5.91067C2.84838 7.11651 3.32883 8.26637 4.16082 9.14V10.0293C4.10082 10.2693 3.59148 10.9693 2.16082 11.4693C0.731483 11.9693 0.540817 12.32 0.211484 13.06C0.0621503 13.5667 -0.0085164 14.092 0.000816932 14.62C0.000816932 14.62 0.331484 15.4093 4.00082 15.4893V15.4093ZM21.7608 13.06C21.4315 12.32 21.2208 11.9693 19.7608 11.4693C18.3008 10.9693 17.8608 10.2693 17.7608 10.0293V9.14C18.5931 8.26603 19.0736 7.11565 19.1101 5.90933C19.1901 3.66933 17.8408 2.5 16.5008 2.5C16.1806 2.49919 15.8634 2.56248 15.568 2.68613C15.2726 2.80979 15.005 2.99131 14.7808 3.22C14.8821 3.70667 14.9368 4.20267 14.9408 4.7C14.9134 5.73937 14.6681 6.7614 14.2208 7.7C14.4475 8.22533 14.7661 8.70667 15.1608 9.12V10.0107C15.0837 10.2016 14.9643 10.3726 14.8115 10.5107L14.9808 10.5907C15.6043 10.7486 16.1778 11.0614 16.6482 11.5001C17.1185 11.9387 17.4705 12.489 17.6715 13.1C17.8995 13.848 18.0115 14.628 18.0008 15.4093V15.5C21.6608 15.42 22.0008 14.6307 22.0008 14.6307C22.0008 14.0973 21.9208 13.568 21.7608 13.06Z" fill="#9C163A" />
                                    </svg>
                                </i>
                                <span>до 3 мест</span>
                            </div>
                            <div class="param">
                                <i>
                                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M13.4069 2.5H8.87891V0.5H16.8789V8.5H14.8789V3.856L4.27491 14.572H8.87891V16.572H0.878906V8.5H2.87891V13.14L13.4069 2.5Z" fill="#9C163A" />
                                    </svg>
                                </i>
                                <span>53 м²</span>
                            </div>
                        </div>
                        <div class="link">
                            <a href="">Смотреть</a>
                        </div>
                    </div>
                    <div class="item_room swiper-slide">
                        <div class="image">
                            <img src="include/images/number.jpg" alt="">
                        </div>
                        <div class="name">
                            <a href="">Стандарт с видом на Театр с 2 кроватями "Queen size"</a>
                        </div>
                        <div class="params">
                            <div class="param">
                                <i>
                                    <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M11.0008 0.5C12.4608 0.5 13.9408 1.94 13.9408 4.7C13.9154 6.16259 13.3935 7.5731 12.4608 8.7V9.78933C12.5315 10.1 13.0915 10.9493 14.6101 11.5707C16.1301 12.1893 16.3808 12.5707 16.7408 13.52C16.9102 14.1387 16.9981 14.7787 17.0008 15.42C17.0008 15.42 16.5915 16.5 11.9408 16.5H10.0608C5.39148 16.5 5.00082 15.42 5.00082 15.42C5.00082 14.772 5.08882 14.1267 5.26082 13.5C5.62082 12.5907 5.85148 12.1693 7.39148 11.5493C8.93148 10.9293 9.47148 10.08 9.54082 9.76933V8.67067C8.60822 7.54371 8.08635 6.13324 8.06082 4.67067C8.06082 1.91867 9.50082 0.5 11.0008 0.5ZM4.00082 15.4093C3.99263 14.6338 4.10417 13.8616 4.33148 13.12C4.53033 12.5113 4.879 11.9624 5.34544 11.5237C5.81188 11.085 6.38111 10.7706 7.00082 10.6093L7.19148 10.5C7.0382 10.3621 6.91829 10.1911 6.84082 10V9.10933C7.23548 8.696 7.55415 8.216 7.78082 7.69067C7.33358 6.75205 7.08829 5.73003 7.06082 4.69067C7.06082 4.2 7.11282 3.71067 7.21148 3.23067C6.75548 2.776 6.14348 2.51467 5.50082 2.5C4.14082 2.5 2.81148 3.64 2.81148 5.91067C2.84838 7.11651 3.32883 8.26637 4.16082 9.14V10.0293C4.10082 10.2693 3.59148 10.9693 2.16082 11.4693C0.731483 11.9693 0.540817 12.32 0.211484 13.06C0.0621503 13.5667 -0.0085164 14.092 0.000816932 14.62C0.000816932 14.62 0.331484 15.4093 4.00082 15.4893V15.4093ZM21.7608 13.06C21.4315 12.32 21.2208 11.9693 19.7608 11.4693C18.3008 10.9693 17.8608 10.2693 17.7608 10.0293V9.14C18.5931 8.26603 19.0736 7.11565 19.1101 5.90933C19.1901 3.66933 17.8408 2.5 16.5008 2.5C16.1806 2.49919 15.8634 2.56248 15.568 2.68613C15.2726 2.80979 15.005 2.99131 14.7808 3.22C14.8821 3.70667 14.9368 4.20267 14.9408 4.7C14.9134 5.73937 14.6681 6.7614 14.2208 7.7C14.4475 8.22533 14.7661 8.70667 15.1608 9.12V10.0107C15.0837 10.2016 14.9643 10.3726 14.8115 10.5107L14.9808 10.5907C15.6043 10.7486 16.1778 11.0614 16.6482 11.5001C17.1185 11.9387 17.4705 12.489 17.6715 13.1C17.8995 13.848 18.0115 14.628 18.0008 15.4093V15.5C21.6608 15.42 22.0008 14.6307 22.0008 14.6307C22.0008 14.0973 21.9208 13.568 21.7608 13.06Z" fill="#9C163A" />
                                    </svg>
                                </i>
                                <span>до 3 мест</span>
                            </div>
                            <div class="param">
                                <i>
                                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M13.4069 2.5H8.87891V0.5H16.8789V8.5H14.8789V3.856L4.27491 14.572H8.87891V16.572H0.878906V8.5H2.87891V13.14L13.4069 2.5Z" fill="#9C163A" />
                                    </svg>
                                </i>
                                <span>53 м²</span>
                            </div>
                        </div>
                        <div class="link">
                            <a href="">Смотреть</a>
                        </div>
                    </div>
                    <div class="item_room swiper-slide">
                        <div class="image">
                            <img src="include/images/number.jpg" alt="">
                        </div>
                        <div class="name">
                            <a href="">Стандарт с видом на Театр с 2 кроватями "Queen size"</a>
                        </div>
                        <div class="params">
                            <div class="param">
                                <i>
                                    <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M11.0008 0.5C12.4608 0.5 13.9408 1.94 13.9408 4.7C13.9154 6.16259 13.3935 7.5731 12.4608 8.7V9.78933C12.5315 10.1 13.0915 10.9493 14.6101 11.5707C16.1301 12.1893 16.3808 12.5707 16.7408 13.52C16.9102 14.1387 16.9981 14.7787 17.0008 15.42C17.0008 15.42 16.5915 16.5 11.9408 16.5H10.0608C5.39148 16.5 5.00082 15.42 5.00082 15.42C5.00082 14.772 5.08882 14.1267 5.26082 13.5C5.62082 12.5907 5.85148 12.1693 7.39148 11.5493C8.93148 10.9293 9.47148 10.08 9.54082 9.76933V8.67067C8.60822 7.54371 8.08635 6.13324 8.06082 4.67067C8.06082 1.91867 9.50082 0.5 11.0008 0.5ZM4.00082 15.4093C3.99263 14.6338 4.10417 13.8616 4.33148 13.12C4.53033 12.5113 4.879 11.9624 5.34544 11.5237C5.81188 11.085 6.38111 10.7706 7.00082 10.6093L7.19148 10.5C7.0382 10.3621 6.91829 10.1911 6.84082 10V9.10933C7.23548 8.696 7.55415 8.216 7.78082 7.69067C7.33358 6.75205 7.08829 5.73003 7.06082 4.69067C7.06082 4.2 7.11282 3.71067 7.21148 3.23067C6.75548 2.776 6.14348 2.51467 5.50082 2.5C4.14082 2.5 2.81148 3.64 2.81148 5.91067C2.84838 7.11651 3.32883 8.26637 4.16082 9.14V10.0293C4.10082 10.2693 3.59148 10.9693 2.16082 11.4693C0.731483 11.9693 0.540817 12.32 0.211484 13.06C0.0621503 13.5667 -0.0085164 14.092 0.000816932 14.62C0.000816932 14.62 0.331484 15.4093 4.00082 15.4893V15.4093ZM21.7608 13.06C21.4315 12.32 21.2208 11.9693 19.7608 11.4693C18.3008 10.9693 17.8608 10.2693 17.7608 10.0293V9.14C18.5931 8.26603 19.0736 7.11565 19.1101 5.90933C19.1901 3.66933 17.8408 2.5 16.5008 2.5C16.1806 2.49919 15.8634 2.56248 15.568 2.68613C15.2726 2.80979 15.005 2.99131 14.7808 3.22C14.8821 3.70667 14.9368 4.20267 14.9408 4.7C14.9134 5.73937 14.6681 6.7614 14.2208 7.7C14.4475 8.22533 14.7661 8.70667 15.1608 9.12V10.0107C15.0837 10.2016 14.9643 10.3726 14.8115 10.5107L14.9808 10.5907C15.6043 10.7486 16.1778 11.0614 16.6482 11.5001C17.1185 11.9387 17.4705 12.489 17.6715 13.1C17.8995 13.848 18.0115 14.628 18.0008 15.4093V15.5C21.6608 15.42 22.0008 14.6307 22.0008 14.6307C22.0008 14.0973 21.9208 13.568 21.7608 13.06Z" fill="#9C163A" />
                                    </svg>
                                </i>
                                <span>до 3 мест</span>
                            </div>
                            <div class="param">
                                <i>
                                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M13.4069 2.5H8.87891V0.5H16.8789V8.5H14.8789V3.856L4.27491 14.572H8.87891V16.572H0.878906V8.5H2.87891V13.14L13.4069 2.5Z" fill="#9C163A" />
                                    </svg>
                                </i>
                                <span>53 м²</span>
                            </div>
                        </div>
                        <div class="link">
                            <a href="">Смотреть</a>
                        </div>
                    </div>
                    <div class="item_room swiper-slide">
                        <div class="image">
                            <img src="include/images/number.jpg" alt="">
                        </div>
                        <div class="name">
                            <a href="">Стандарт с видом на Театр с 2 кроватями "Queen size"</a>
                        </div>
                        <div class="params">
                            <div class="param">
                                <i>
                                    <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M11.0008 0.5C12.4608 0.5 13.9408 1.94 13.9408 4.7C13.9154 6.16259 13.3935 7.5731 12.4608 8.7V9.78933C12.5315 10.1 13.0915 10.9493 14.6101 11.5707C16.1301 12.1893 16.3808 12.5707 16.7408 13.52C16.9102 14.1387 16.9981 14.7787 17.0008 15.42C17.0008 15.42 16.5915 16.5 11.9408 16.5H10.0608C5.39148 16.5 5.00082 15.42 5.00082 15.42C5.00082 14.772 5.08882 14.1267 5.26082 13.5C5.62082 12.5907 5.85148 12.1693 7.39148 11.5493C8.93148 10.9293 9.47148 10.08 9.54082 9.76933V8.67067C8.60822 7.54371 8.08635 6.13324 8.06082 4.67067C8.06082 1.91867 9.50082 0.5 11.0008 0.5ZM4.00082 15.4093C3.99263 14.6338 4.10417 13.8616 4.33148 13.12C4.53033 12.5113 4.879 11.9624 5.34544 11.5237C5.81188 11.085 6.38111 10.7706 7.00082 10.6093L7.19148 10.5C7.0382 10.3621 6.91829 10.1911 6.84082 10V9.10933C7.23548 8.696 7.55415 8.216 7.78082 7.69067C7.33358 6.75205 7.08829 5.73003 7.06082 4.69067C7.06082 4.2 7.11282 3.71067 7.21148 3.23067C6.75548 2.776 6.14348 2.51467 5.50082 2.5C4.14082 2.5 2.81148 3.64 2.81148 5.91067C2.84838 7.11651 3.32883 8.26637 4.16082 9.14V10.0293C4.10082 10.2693 3.59148 10.9693 2.16082 11.4693C0.731483 11.9693 0.540817 12.32 0.211484 13.06C0.0621503 13.5667 -0.0085164 14.092 0.000816932 14.62C0.000816932 14.62 0.331484 15.4093 4.00082 15.4893V15.4093ZM21.7608 13.06C21.4315 12.32 21.2208 11.9693 19.7608 11.4693C18.3008 10.9693 17.8608 10.2693 17.7608 10.0293V9.14C18.5931 8.26603 19.0736 7.11565 19.1101 5.90933C19.1901 3.66933 17.8408 2.5 16.5008 2.5C16.1806 2.49919 15.8634 2.56248 15.568 2.68613C15.2726 2.80979 15.005 2.99131 14.7808 3.22C14.8821 3.70667 14.9368 4.20267 14.9408 4.7C14.9134 5.73937 14.6681 6.7614 14.2208 7.7C14.4475 8.22533 14.7661 8.70667 15.1608 9.12V10.0107C15.0837 10.2016 14.9643 10.3726 14.8115 10.5107L14.9808 10.5907C15.6043 10.7486 16.1778 11.0614 16.6482 11.5001C17.1185 11.9387 17.4705 12.489 17.6715 13.1C17.8995 13.848 18.0115 14.628 18.0008 15.4093V15.5C21.6608 15.42 22.0008 14.6307 22.0008 14.6307C22.0008 14.0973 21.9208 13.568 21.7608 13.06Z" fill="#9C163A" />
                                    </svg>
                                </i>
                                <span>до 3 мест</span>
                            </div>
                            <div class="param">
                                <i>
                                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M13.4069 2.5H8.87891V0.5H16.8789V8.5H14.8789V3.856L4.27491 14.572H8.87891V16.572H0.878906V8.5H2.87891V13.14L13.4069 2.5Z" fill="#9C163A" />
                                    </svg>
                                </i>
                                <span>53 м²</span>
                            </div>
                        </div>
                        <div class="link">
                            <a href="">Смотреть</a>
                        </div>
                    </div>
                    <div class="item_room swiper-slide">
                        <div class="image">
                            <img src="include/images/number.jpg" alt="">
                        </div>
                        <div class="name">
                            <a href="">Стандарт с видом на Театр с 2 кроватями "Queen size"</a>
                        </div>
                        <div class="params">
                            <div class="param">
                                <i>
                                    <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M11.0008 0.5C12.4608 0.5 13.9408 1.94 13.9408 4.7C13.9154 6.16259 13.3935 7.5731 12.4608 8.7V9.78933C12.5315 10.1 13.0915 10.9493 14.6101 11.5707C16.1301 12.1893 16.3808 12.5707 16.7408 13.52C16.9102 14.1387 16.9981 14.7787 17.0008 15.42C17.0008 15.42 16.5915 16.5 11.9408 16.5H10.0608C5.39148 16.5 5.00082 15.42 5.00082 15.42C5.00082 14.772 5.08882 14.1267 5.26082 13.5C5.62082 12.5907 5.85148 12.1693 7.39148 11.5493C8.93148 10.9293 9.47148 10.08 9.54082 9.76933V8.67067C8.60822 7.54371 8.08635 6.13324 8.06082 4.67067C8.06082 1.91867 9.50082 0.5 11.0008 0.5ZM4.00082 15.4093C3.99263 14.6338 4.10417 13.8616 4.33148 13.12C4.53033 12.5113 4.879 11.9624 5.34544 11.5237C5.81188 11.085 6.38111 10.7706 7.00082 10.6093L7.19148 10.5C7.0382 10.3621 6.91829 10.1911 6.84082 10V9.10933C7.23548 8.696 7.55415 8.216 7.78082 7.69067C7.33358 6.75205 7.08829 5.73003 7.06082 4.69067C7.06082 4.2 7.11282 3.71067 7.21148 3.23067C6.75548 2.776 6.14348 2.51467 5.50082 2.5C4.14082 2.5 2.81148 3.64 2.81148 5.91067C2.84838 7.11651 3.32883 8.26637 4.16082 9.14V10.0293C4.10082 10.2693 3.59148 10.9693 2.16082 11.4693C0.731483 11.9693 0.540817 12.32 0.211484 13.06C0.0621503 13.5667 -0.0085164 14.092 0.000816932 14.62C0.000816932 14.62 0.331484 15.4093 4.00082 15.4893V15.4093ZM21.7608 13.06C21.4315 12.32 21.2208 11.9693 19.7608 11.4693C18.3008 10.9693 17.8608 10.2693 17.7608 10.0293V9.14C18.5931 8.26603 19.0736 7.11565 19.1101 5.90933C19.1901 3.66933 17.8408 2.5 16.5008 2.5C16.1806 2.49919 15.8634 2.56248 15.568 2.68613C15.2726 2.80979 15.005 2.99131 14.7808 3.22C14.8821 3.70667 14.9368 4.20267 14.9408 4.7C14.9134 5.73937 14.6681 6.7614 14.2208 7.7C14.4475 8.22533 14.7661 8.70667 15.1608 9.12V10.0107C15.0837 10.2016 14.9643 10.3726 14.8115 10.5107L14.9808 10.5907C15.6043 10.7486 16.1778 11.0614 16.6482 11.5001C17.1185 11.9387 17.4705 12.489 17.6715 13.1C17.8995 13.848 18.0115 14.628 18.0008 15.4093V15.5C21.6608 15.42 22.0008 14.6307 22.0008 14.6307C22.0008 14.0973 21.9208 13.568 21.7608 13.06Z" fill="#9C163A" />
                                    </svg>
                                </i>
                                <span>до 3 мест</span>
                            </div>
                            <div class="param">
                                <i>
                                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M13.4069 2.5H8.87891V0.5H16.8789V8.5H14.8789V3.856L4.27491 14.572H8.87891V16.572H0.878906V8.5H2.87891V13.14L13.4069 2.5Z" fill="#9C163A" />
                                    </svg>
                                </i>
                                <span>53 м²</span>
                            </div>
                        </div>
                        <div class="link">
                            <a href="">Смотреть</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>
include _footer.jade