include _inner_header.jade
<div class="path_block_wr animation_block">
    <div class="block-padding">
        <a href="">Главная</a><span>/</span>Пресс-центр
    </div>
</div>
<div class="page_title animation_block">
    <div class="block-padding">
        <h1>Пресс-центр</h1>
    </div>
</div>
<div class="content_main_block">
    <section class="press_center_page announces-block block-padding" data-scroll-section>
        <div class="tab_block">
            <div class="tab_list">
                <div class="tab_title button button-white active">Новости</div>
                <div class="tab_title button button-white">Полезная информация</div>
            </div>
            <div class="tab_main">
                <div class="tab_body active">
                    <div class="announces-block__inner block-width">
                        <div class="announces-block__header">
                            <div class="announces-block__nav">
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                        <div class="press_center_announces-block__slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="announces-block__slider-item swiper-slide">
                                        <div class="item-header">
                                            <div class="item-btn">
                                                <a href="#">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white" />
                                                        <path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white" /></svg>
                                                </a>
                                            </div>
                                            
                                        </div>
                                        <div class="item-title">Винный ужин</div>
                                        <div class="item-date">12-25 июля</div>
                                        <div class="item-body">
                                            <img src="include/images/announce_sl1.png" alt="announce_sl2">
                                        </div>
                                    </div>
                                    <div class="announces-block__slider-item swiper-slide with_line">
                                        <div class="item-header">
                                            <div class="item-btn">
                                                <a href="#">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white" />
                                                        <path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white" /></svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item-title">Мероприятие в честь дня рождения отеля</div>
                                        <div class="item-date">11-14 июля</div>
                                        <div class="item-body">
                                            <img src="include/images/announce_sl2.png" alt="announce_sl2">
                                        </div>
                                    </div>
                                    <div class="announces-block__slider-item swiper-slide">
                                        <div class="item-header">
                                            <div class="item-btn">
                                                <a href="#">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white" />
                                                        <path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white" /></svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item-title">Винный ужин</div>
                                        <div class="item-date">12-25 июля</div>
                                        <div class="item-body">
                                            <img src="include/images/announce_sl1.png" alt="announce_sl2">
                                        </div>
                                    </div>
                                    <div class="announces-block__slider-item swiper-slide">
                                        <div class="item-header">
                                            <div class="item-btn">
                                                <a href="#">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white" />
                                                        <path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white" /></svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item-title">Винный ужин</div>
                                        <div class="item-date">12-25 июля</div>
                                        <div class="item-body">
                                            <img src="include/images/announce_sl1.png" alt="announce_sl2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab_body">
                    <div class="announces-block__inner block-width">
                        <div class="announces-block__header">
                            <div class="announces-block__nav">
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                        <div class="press_center_announces-block__slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="announces-block__slider-item swiper-slide with_line">
                                        <div class="item-header">
                                            <div class="item-btn">
                                                <a href="#">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white" />
                                                        <path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white" /></svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item-title">Мероприятие в честь дня рождения отеля</div>
                                        <div class="item-date">11-14 июля</div>
                                        <div class="item-body">
                                            <img src="include/images/announce_sl2.png" alt="announce_sl2">
                                        </div>
                                    </div>
                                    <div class="announces-block__slider-item swiper-slide">
                                        <div class="item-header">
                                            <div class="item-btn">
                                                <a href="#">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white" />
                                                        <path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white" /></svg>
                                                </a>
                                            </div>
                                            
                                        </div>
                                        <div class="item-title">Винный ужин</div>
                                        <div class="item-date">12-25 июля</div>
                                        <div class="item-body">
                                            <img src="include/images/announce_sl1.png" alt="announce_sl2">
                                        </div>
                                    </div>
                                    <div class="announces-block__slider-item swiper-slide">
                                        <div class="item-header">
                                            <div class="item-btn">
                                                <a href="#">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white" />
                                                        <path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white" /></svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item-title">Винный ужин</div>
                                        <div class="item-date">12-25 июля</div>
                                        <div class="item-body">
                                            <img src="include/images/announce_sl1.png" alt="announce_sl2">
                                        </div>
                                    </div>
                                    <div class="announces-block__slider-item swiper-slide">
                                        <div class="item-header">
                                            <div class="item-btn">
                                                <a href="#">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path d="M11.0216 0.260986H12.9781V23.7392H11.0216V0.260986Z" fill="white" />
                                                        <path d="M23.739 11.0219V12.9784L0.260742 12.9784L0.260742 11.0219L23.739 11.0219Z" fill="white" /></svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item-title">Винный ужин</div>
                                        <div class="item-date">12-25 июля</div>
                                        <div class="item-body">
                                            <img src="include/images/announce_sl1.png" alt="announce_sl2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
include _footer.jade