include _inner_header.jade
<div class="path_block_wr animation_block">
    <div class="block-padding">
        <a href="">Главная</a><span>/</span>Что о нас говорят
    </div>
</div>
<div class="page_title animation_block">
    <div class="block-padding">
        <h1>Что о нас говорят</h1>
    </div>
</div>
<div class="content_main_block">
    <section class="reviews_page block-padding" data-scroll-section>
        <div class="tab_block">
            <div class="tab_list animation_block">
                <div class="tab_title button button-white active">Корпоративные клиенты</div>
                <div class="tab_title button button-white">Гости</div>
            </div>
            <div class="tab_main">
                <div class="tab_body active">
                    <div class="reviews_item">
                        <div class="review animation_block">
                            <div class="review_top">
                                <div class="date">19 января 2024</div>
                                <div class="name">Александра Петрова</div>
                                <div class="stars"><div class="stars_inner" style="width: 40%;"></div></div>
                                <div class="icon">
                                    <img src="include/images/review1.svg" alt="">
                                </div>
                            </div>
                            <div class="body">
                                <p>Потрясающий сервис! На Алтае редко встретишь такое внимание к гостям! Ресторан еще не работает,но всю еду по меню привозят куда попросишь,будь то номер,беседка у реки,либо у домика.</p>
                                <p>По запросу привозят дрова и разжигают костер в беседках. Все очень дружелюбные. Мы очень довольны! Были первый раз,но обязательно приедем к вам гости еще! Спасибо!!!</p>
                            </div>
                            <div class="bottom"><a href="" class="link">Читать весь отзыв</a></div>
                        </div>
                        <div class="review animation_block">
                            <div class="review_top">
                                <div class="date">19 января 2024</div>
                                <div class="name">Александра Петрова</div>
                                <div class="stars"><div class="stars_inner" style="width: 80%;"></div></div>
                                <div class="icon">
                                    <img src="include/images/review1.svg" alt="">
                                </div>
                            </div>
                            <div class="body">
                                <p>Потрясающий сервис! На Алтае редко встретишь такое внимание к гостям! Ресторан еще не работает,но всю еду по меню привозят куда попросишь,будь то номер,беседка у реки,либо у домика.</p>
                                <p>По запросу привозят дрова и разжигают костер в беседках. Все очень дружелюбные. Мы очень довольн.....</p>
                            </div>
                            <div class="bottom"><a href="" class="link">Читать весь отзыв</a></div>
                        </div>
                        <div class="review animation_block">
                            <div class="review_top">
                                <div class="date">19 января 2024</div>
                                <div class="name">Александра Петрова</div>
                                <div class="stars"><div class="stars_inner" style="width: 100%;"></div></div>
                                <div class="icon">
                                    <img src="include/images/review3.svg" alt="">
                                </div>
                            </div>
                            <div class="body">
                                <p>Потрясающий сервис! На Алтае редко встретишь такое внимание к гостям! Ресторан еще не работает,но всю еду по меню привозят куда попросишь,будь то номер,беседка у реки,либо у домика.</p>
                                <p>По запросу привозят дрова и разжигают костер в беседках. Все очень дружелюбные. Мы очень довольны! Были первый раз,но обязательно приедем к вам гости еще! Спасибо!!!</p>
                            </div>
                            <div class="bottom"><a href="" class="link">Читать весь отзыв</a></div>
                        </div>
                        <div class="review animation_block">
                            <div class="review_top">
                                <div class="date">19 января 2024</div>
                                <div class="name">Александра Петрова</div>
                                <div class="stars"><div class="stars_inner" style="width: 100%;"></div></div>
                                <div class="icon">
                                    <img src="include/images/review1.svg" alt="">
                                </div>
                            </div>
                            <div class="body">
                                <p>Потрясающий сервис! На Алтае редко встретишь такое внимание к гостям! Ресторан еще не работает,но всю еду по меню привозят куда попросишь,будь то номер,беседка у реки,либо у домика.</p>
                                <p>По запросу привозят дрова и разжигают костер в беседках. Все очень дружелюбные. Мы очень довольны! Были первый раз,но обязательно приедем к вам гости еще! Спасибо!!!</p>
                            </div>
                            <div class="bottom"><a href="" class="link">Читать весь отзыв</a></div>
                        </div>
                        <div class="review animation_block">
                            <div class="review_top">
                                <div class="date">19 января 2024</div>
                                <div class="name">Александра Петрова</div>
                                <div class="stars"><div class="stars_inner" style="width: 100%;"></div></div>
                                <div class="icon">
                                    <img src="include/images/review2.svg" alt="">
                                </div>
                            </div>
                            <div class="body">
                                <p>Потрясающий сервис! На Алтае редко встретишь такое внимание к гостям! Ресторан еще не работает,но всю еду по меню привозят куда попросишь,будь то номер,беседка у реки,либо у домика.</p>
                                <p>По запросу привозят дрова и разжигают костер в беседках. Все очень дружелюбные. Мы очень довольны! Были первый раз,но обязательно приедем к вам гости еще! Спасибо!!!</p>
                            </div>
                            <div class="bottom"><a href="" class="link">Читать весь отзыв</a></div>
                        </div>
                        <div class="review animation_block">
                            <div class="review_top">
                                <div class="date">19 января 2024</div>
                                <div class="name">Александра Петрова</div>
                                <div class="stars"><div class="stars_inner" style="width: 100%;"></div></div>
                                <div class="icon">
                                    <img src="include/images/review3.svg" alt="">
                                </div>
                            </div>
                            <div class="body">
                                <p>Потрясающий сервис! На Алтае редко встретишь такое внимание к гостям! Ресторан еще не работает,но всю еду по меню привозят куда попросишь,будь то номер,беседка у реки,либо у домика.</p>
                                <p>По запросу привозят дрова и разжигают костер в беседках. Все очень дружелюбные. Мы очень довольны! Были первый раз,но обязательно приедем к вам гости еще! Спасибо!!!</p>
                            </div>
                            <div class="bottom"><a href="" class="link">Читать весь отзыв</a></div>
                        </div>
                    </div>          
                </div>
                <div class="tab_body">
                    <div class="reviews_item">
                        
                        <div class="review animation_block">
                            <div class="review_top">
                                <div class="date">19 января 2024</div>
                                <div class="name">Александра Петрова</div>
                                <div class="stars"><div class="stars_inner" style="width: 80%;"></div></div>
                                <div class="icon">
                                    <img src="include/images/review1.svg" alt="">
                                </div>
                            </div>
                            <div class="body">
                                <p>Потрясающий сервис! На Алтае редко встретишь такое внимание к гостям! Ресторан еще не работает,но всю еду по меню привозят куда попросишь,будь то номер,беседка у реки,либо у домика.</p>
                                <p>По запросу привозят дрова и разжигают костер в беседках. Все очень дружелюбные. Мы очень довольн.....</p>
                            </div>
                            <div class="bottom"><a href="" class="link">Читать весь отзыв</a></div>
                        </div>
                        <div class="review animation_block">
                            <div class="review_top">
                                <div class="date">19 января 2024</div>
                                <div class="name">Александра Петрова</div>
                                <div class="stars"><div class="stars_inner" style="width: 40%;"></div></div>
                                <div class="icon">
                                    <img src="include/images/review1.svg" alt="">
                                </div>
                            </div>
                            <div class="body">
                                <p>Потрясающий сервис! На Алтае редко встретишь такое внимание к гостям! Ресторан еще не работает,но всю еду по меню привозят куда попросишь,будь то номер,беседка у реки,либо у домика.</p>
                                <p>По запросу привозят дрова и разжигают костер в беседках. Все очень дружелюбные. Мы очень довольны! Были первый раз,но обязательно приедем к вам гости еще! Спасибо!!!</p>
                            </div>
                            <div class="bottom"><a href="" class="link">Читать весь отзыв</a></div>
                        </div>
                        <div class="review animation_block">
                            <div class="review_top">
                                <div class="date">19 января 2024</div>
                                <div class="name">Александра Петрова</div>
                                <div class="stars"><div class="stars_inner" style="width: 100%;"></div></div>
                                <div class="icon">
                                    <img src="include/images/review3.svg" alt="">
                                </div>
                            </div>
                            <div class="body">
                                <p>Потрясающий сервис! На Алтае редко встретишь такое внимание к гостям! Ресторан еще не работает,но всю еду по меню привозят куда попросишь,будь то номер,беседка у реки,либо у домика.</p>
                                <p>По запросу привозят дрова и разжигают костер в беседках. Все очень дружелюбные. Мы очень довольны! Были первый раз,но обязательно приедем к вам гости еще! Спасибо!!!</p>
                            </div>
                            <div class="bottom"><a href="" class="link">Читать весь отзыв</a></div>
                        </div>
                        <div class="review animation_block">
                            <div class="review_top">
                                <div class="date">19 января 2024</div>
                                <div class="name">Александра Петрова</div>
                                <div class="stars"><div class="stars_inner" style="width: 100%;"></div></div>
                                <div class="icon">
                                    <img src="include/images/review1.svg" alt="">
                                </div>
                            </div>
                            <div class="body">
                                <p>Потрясающий сервис! На Алтае редко встретишь такое внимание к гостям! Ресторан еще не работает,но всю еду по меню привозят куда попросишь,будь то номер,беседка у реки,либо у домика.</p>
                                <p>По запросу привозят дрова и разжигают костер в беседках. Все очень дружелюбные. Мы очень довольны! Были первый раз,но обязательно приедем к вам гости еще! Спасибо!!!</p>
                            </div>
                            <div class="bottom"><a href="" class="link">Читать весь отзыв</a></div>
                        </div>
                        <div class="review animation_block">
                            <div class="review_top">
                                <div class="date">19 января 2024</div>
                                <div class="name">Александра Петрова</div>
                                <div class="stars"><div class="stars_inner" style="width: 100%;"></div></div>
                                <div class="icon">
                                    <img src="include/images/review2.svg" alt="">
                                </div>
                            </div>
                            <div class="body">
                                <p>Потрясающий сервис! На Алтае редко встретишь такое внимание к гостям! Ресторан еще не работает,но всю еду по меню привозят куда попросишь,будь то номер,беседка у реки,либо у домика.</p>
                                <p>По запросу привозят дрова и разжигают костер в беседках. Все очень дружелюбные. Мы очень довольны! Были первый раз,но обязательно приедем к вам гости еще! Спасибо!!!</p>
                            </div>
                            <div class="bottom"><a href="" class="link">Читать весь отзыв</a></div>
                        </div>
                        <div class="review animation_block">
                            <div class="review_top">
                                <div class="date">19 января 2024</div>
                                <div class="name">Александра Петрова</div>
                                <div class="stars"><div class="stars_inner" style="width: 100%;"></div></div>
                                <div class="icon">
                                    <img src="include/images/review3.svg" alt="">
                                </div>
                            </div>
                            <div class="body">
                                <p>Потрясающий сервис! На Алтае редко встретишь такое внимание к гостям! Ресторан еще не работает,но всю еду по меню привозят куда попросишь,будь то номер,беседка у реки,либо у домика.</p>
                                <p>По запросу привозят дрова и разжигают костер в беседках. Все очень дружелюбные. Мы очень довольны! Были первый раз,но обязательно приедем к вам гости еще! Спасибо!!!</p>
                            </div>
                            <div class="bottom"><a href="" class="link">Читать весь отзыв</a></div>
                        </div>
                    </div>      
                </div>
            </div>
        </div>
    </section>
</div>
include _footer.jade