include _inner_header.jade
<div class="path_block_wr animation_block">
    <div class="block-padding">
        <a href="">Главная</a><span>/</span>Вакансии
    </div>
</div>
<div class="page_title animation_block">
    <div class="block-padding">
        <h1>Вакансии</h1>
    </div>
</div>
<div class="blockquote animation_block">
    <div class="block-padding">
        <div class="text">Помогаем жителям и гостям Новосибирска создавать свою успешную историю....</div>
    </div>
</div>
<div class="content_main_block">
    <div class="block-padding vacancie_page">
        <div class="body animation_block">
            <p>Работа у нас — это работа в лидирующей компании. Наша компания — это постоянный рост и развитие.</p>
            <h2>Высокие стандарты</h2>
            <p>Разнообразный и богатый опыт консультация с широким активом требуют определения и уточнения дальнейших направлений развития. Повседневная практика показывает, что начало повседневной работы по формированию позиции способствует подготовки и реализации направлений прогрессивного развития. Не следует, однако забывать, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке модели развития. </p>
            <img src="include/images/va.jpg" alt="">
        </div>
        <div class="advantages_body animation_block">
            <div class="item">
                <div class="name">Белая зарплата</div>
                <div class="text">Всё прозрачно и понятно. Вся зарплата белая. Наши сотрудники точно знают сколько получат в конце месяца.</div>
            </div>
            <div class="item">
                <div class="name">ДМС и льготы</div>
                <div class="text">Мы заботимся о здоровье своих сотрудников. Вы сможете позволить себе услуги качественной медицины.</div>
            </div>
            <div class="item">
                <div class="name">Внутреннее обучение</div>
                <div class="text">Мы хотим, чтобы наши специалисты постоянно развивались. Оплачиваем до 100% стоимости курсов для наших сотрудников.</div>
            </div>
            <div class="item">
                <div class="name">Корпоративные мероприятия</div>
                <div class="text">У нас принято отмечать праздники всей компанией. В офисе собираются все — программисты, инженеры, менеджеры, бухгалтеры.</div>
            </div>
        </div>
        <div class="free_vacancie">
            <div class="title animation_block">Свободные вакансии в команду</div>
            <div class="item animation_block">
                <div class="name">Административный корпус</div>
                <div class="accor_block">
                    <div class="accor_name">Менеджер по продажам</div>
                    <div class="accor_body">
                        <h2>Требуемый опыт работы</h2>
                        <ul>
                            <li>От 3 до 6 лет</li>
                            <li>Полная занятость</li>
                        </ul>
                        <h2>Обязанности</h2>
                        <ul>
                            <li>Составление графиков планово-предупредительного ремонта бурового оборудования</li>
                            <li>Контроль своевременного и качественного выполнения технических обслуживаний, планово-предупредительных и профилактических ремонтов оборудования буровых установок</li>
                            <li>Составление дефектных ведомостей на оборудование буровых установок закончивших бурение</li>
                            <li>Контроль за содержанием в исправном состоянии грузоподъемных механизмов и другого инструмента</li>
                        </ul>
                        <h2>Обязанности</h2>
                        <ul>
                            <li>Составление графиков планово-предупредительного ремонта бурового оборудования</li>
                            <li>Контроль своевременного и качественного выполнения технических обслуживаний, планово-предупредительных и профилактических ремонтов оборудования буровых установок</li>
                        </ul>
                        <a href="" class="button button-primary">Откликнуться на вакансию</a>
                        <a href="" class="btn_link">Смотреть вакансию на hh</a>
                    </div>
                </div>
                <div class="accor_block">
                    <div class="accor_name">Помощник управляющего отелем</div>
                    <div class="accor_body">
                        <h2>Требуемый опыт работы</h2>
                        <ul>
                            <li>От 3 до 6 лет</li>
                            <li>Полная занятость</li>
                        </ul>
                        <h2>Обязанности</h2>
                        <ul>
                            <li>Составление графиков планово-предупредительного ремонта бурового оборудования</li>
                            <li>Контроль своевременного и качественного выполнения технических обслуживаний, планово-предупредительных и профилактических ремонтов оборудования буровых установок</li>
                            <li>Составление дефектных ведомостей на оборудование буровых установок закончивших бурение</li>
                            <li>Контроль за содержанием в исправном состоянии грузоподъемных механизмов и другого инструмента</li>
                        </ul>
                        <h2>Обязанности</h2>
                        <ul>
                            <li>Составление графиков планово-предупредительного ремонта бурового оборудования</li>
                            <li>Контроль своевременного и качественного выполнения технических обслуживаний, планово-предупредительных и профилактических ремонтов оборудования буровых установок</li>
                        </ul>
                        <a href="" class="button button-primary">Откликнуться на вакансию</a>
                        <a href="" class="btn_link">Смотреть вакансию на hh</a>
                    </div>
                </div>
                <div class="accor_block">
                    <div class="accor_name">Повар</div>
                    <div class="accor_body">
                        <h2>Требуемый опыт работы</h2>
                        <ul>
                            <li>От 3 до 6 лет</li>
                            <li>Полная занятость</li>
                        </ul>
                        <h2>Обязанности</h2>
                        <ul>
                            <li>Составление графиков планово-предупредительного ремонта бурового оборудования</li>
                            <li>Контроль своевременного и качественного выполнения технических обслуживаний, планово-предупредительных и профилактических ремонтов оборудования буровых установок</li>
                            <li>Составление дефектных ведомостей на оборудование буровых установок закончивших бурение</li>
                            <li>Контроль за содержанием в исправном состоянии грузоподъемных механизмов и другого инструмента</li>
                        </ul>
                        <h2>Обязанности</h2>
                        <ul>
                            <li>Составление графиков планово-предупредительного ремонта бурового оборудования</li>
                            <li>Контроль своевременного и качественного выполнения технических обслуживаний, планово-предупредительных и профилактических ремонтов оборудования буровых установок</li>
                        </ul>
                        <a href="" class="button button-primary">Откликнуться на вакансию</a>
                        <a href="" class="btn_link">Смотреть вакансию на hh</a>
                    </div>
                </div>
            </div>
            <div class="item animation_block">
                <div class="name">Административный корпус</div>
                <div class="accor_block">
                    <div class="accor_name">Горничная</div>
                    <div class="accor_body">
                        <h2>Требуемый опыт работы</h2>
                        <ul>
                            <li>От 3 до 6 лет</li>
                            <li>Полная занятость</li>
                        </ul>
                        <h2>Обязанности</h2>
                        <ul>
                            <li>Составление графиков планово-предупредительного ремонта бурового оборудования</li>
                            <li>Контроль своевременного и качественного выполнения технических обслуживаний, планово-предупредительных и профилактических ремонтов оборудования буровых установок</li>
                            <li>Составление дефектных ведомостей на оборудование буровых установок закончивших бурение</li>
                            <li>Контроль за содержанием в исправном состоянии грузоподъемных механизмов и другого инструмента</li>
                        </ul>
                        <h2>Обязанности</h2>
                        <ul>
                            <li>Составление графиков планово-предупредительного ремонта бурового оборудования</li>
                            <li>Контроль своевременного и качественного выполнения технических обслуживаний, планово-предупредительных и профилактических ремонтов оборудования буровых установок</li>
                        </ul>
                        <a href="" class="button button-primary">Откликнуться на вакансию</a>
                        <a href="" class="btn_link">Смотреть вакансию на hh</a>
                    </div>
                </div>
                <div class="accor_block">
                    <div class="accor_name">Грузчик</div>
                    <div class="accor_body">
                        <h2>Требуемый опыт работы</h2>
                        <ul>
                            <li>От 3 до 6 лет</li>
                            <li>Полная занятость</li>
                        </ul>
                        <h2>Обязанности</h2>
                        <ul>
                            <li>Составление графиков планово-предупредительного ремонта бурового оборудования</li>
                            <li>Контроль своевременного и качественного выполнения технических обслуживаний, планово-предупредительных и профилактических ремонтов оборудования буровых установок</li>
                            <li>Составление дефектных ведомостей на оборудование буровых установок закончивших бурение</li>
                            <li>Контроль за содержанием в исправном состоянии грузоподъемных механизмов и другого инструмента</li>
                        </ul>
                        <h2>Обязанности</h2>
                        <ul>
                            <li>Составление графиков планово-предупредительного ремонта бурового оборудования</li>
                            <li>Контроль своевременного и качественного выполнения технических обслуживаний, планово-предупредительных и профилактических ремонтов оборудования буровых установок</li>
                        </ul>
                        <a href="" class="button button-primary">Откликнуться на вакансию</a>
                        <a href="" class="btn_link">Смотреть вакансию на hh</a>
                    </div>
                </div>
                <div class="accor_block">
                    <div class="accor_name">Официант</div>
                    <div class="accor_body">
                        <h2>Требуемый опыт работы</h2>
                        <ul>
                            <li>От 3 до 6 лет</li>
                            <li>Полная занятость</li>
                        </ul>
                        <h2>Обязанности</h2>
                        <ul>
                            <li>Составление графиков планово-предупредительного ремонта бурового оборудования</li>
                            <li>Контроль своевременного и качественного выполнения технических обслуживаний, планово-предупредительных и профилактических ремонтов оборудования буровых установок</li>
                            <li>Составление дефектных ведомостей на оборудование буровых установок закончивших бурение</li>
                            <li>Контроль за содержанием в исправном состоянии грузоподъемных механизмов и другого инструмента</li>
                        </ul>
                        <h2>Обязанности</h2>
                        <ul>
                            <li>Составление графиков планово-предупредительного ремонта бурового оборудования</li>
                            <li>Контроль своевременного и качественного выполнения технических обслуживаний, планово-предупредительных и профилактических ремонтов оборудования буровых установок</li>
                        </ul>
                        <a href="" class="button button-primary">Откликнуться на вакансию</a>
                        <a href="" class="btn_link">Смотреть вакансию на hh</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="vacancie_form animation_block">
            <div class="inner">
                <form action="">
                    <div class="title">Не нашли нужную вакансию, отправьте резюме</div>
                    <div class="row">
                        <div class="form_field">
                            <input type="text" placeholder="Ваше имя">
                        </div>
                        <div class="form_field">
                            <input type="text" class="phone_field" placeholder="+7 (___) ___-__-__">
                        </div>
                        <div class="form_field">
                            <input type="text" placeholder="Эл. почта">
                        </div>
                        <div class="form_field">
                            <input type="submit" class="button button-white">
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="police">Нажимая кнопку, вы даёте согласие на обработку вашихперсональных данных</div>
                        <div class="form_field file_field">
                            <label>
                                <input type="file">
                                <span>Прикрепить резюме</span>
                            </label>
                            <div class="text_field">Файл не более 10МБ</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
include _footer.jade